body{
    font-family: $font-stack-heading;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    text-transform:uppercase;
    font-size: 13px;
    font-weight: 200;
}

// text color

.white-color{
    color:$color-white;
}
.black-color{
    color:$color-black;
}



// btn colors 

.btn-bright{ 
    color:$color-primary;
    background: $color-primary;
    border:1px solid $color-primary;
    &:hover{
        background: $color-primary;
        color:$color-secondary;
    }
}
.btn-link{
    color:$color-link;
    background: $color-link;
    border:1px solid $color-link;
    &:hover{
        background: $color-link;
        color:$color-link-hover;
    }
}

.btn-text{
    color:$color-text;
    background: $color-text;
    border:1px solid $color-text;
    &:hover{
        background: $color-text;
        color:$color-link-hover;
    }
}

.btn-secondary{
    
    color:$color-secondary;
    background: $color-secondary;
    border:1px solid $color-secondary;
    &:hover{
        background: $color-secondary;
        color:$color-link-hover;
    }

}

.btn-black{
    color:$color-black;
    background: $color-black;
    border:1px solid $color-black;
    &:hover{
        background: $color-black;
        color:$color-link-hover;
    }
}

.btn-white{
    color:$color-white;
    background: $color-white;
    border:1px solid $color-link;
    &:hover{
        background: $color-white;
        color:$color-link-hover;
    }
}


// button type
.cap-text{
    border: none;
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    background: transparent;
    &:hover{
        background: transparent;
    }
}
.s-btn{
    border:none;
    padding: 10px;
    color: white;
    &:hover{
        color: white;
        background: Darken(50%) ;
    }
    &.btn-white{
        color: black;
        &:hover{
            color: black;
        }
    }
}

.l-btn{
    border:none;
    padding: 15px 60px;
    color: white;
    &:hover{
        color: white;
    }
    &.btn-white{
        color: black;
        &:hover{
            color: black;
        }
    }
}

.s-o-btn{
    padding: 10px;
    background: transparent;
    &:hover{
        color: white;
    }
    &.btn-white{
        color: white;
        border:1px solid $color-white;
        &:hover{
            color: black;
        }
    }
}

.l-o-btn{
    padding: 15px 60px;
    background: transparent;
    &:hover{
        color: white;
    }
    &.btn-white{
        color: white;
        border:1px solid $color-white;
        &:hover{
            color: black;
        }
    }
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}
.clear{
    clear: both;
}
