/*===============background-colors=================*/
$color-bg:var(--color-bg);
$color-bg-secondary:var(--color-bg-secondary);

/*===============normal colors================*/
$color-white:var(--color-white);
$color-black:var(--color-black);

/*===============text-colors=================*/
$color-text:var(--color-text);
$color-primary:var(--color-primary);
$color-secondary:var(--color-secondary);
$color-warning:var(--color-warning);

/*===============link-colors=================*/
$color-link:var(--color-link);
$color-link-hover:var(--color-link-hover);

/*===============header-colors=================*/
$color-header-bg:var(--color-header-bg);
$color-header-link:var(--color-header-link);
$color-header-link-hover:var(--color-header-link-hover);

/*===============header-menu-colors=================*/
$color-menu-bg:var(--color-menu-bg);
$color-menu-border:var(--color-menu-border);
$color-menu-link:var(--color-menu-link);
$color-menu-transparent:var(--color-menu-transparent);
$color-menu-link-hover:var(--color-menu-link-hover);

/*===============header-submenu-colors=================*/
$color-submenu-bg:var(--color-submenu-bg);
$color-submenu-border:var(--color-submenu-border);
$color-submenu-link:var(--color-submenu-link);
$color-submenu-link-hover:var(--color-submenu-link-hover);

/*===============footer-colors=================*/
$color-footer-bg:var(--color-footer-bg);
$color-footer-border:var(--color-footer-border);
$color-footer-text:var(--color-footer-text);
$color-footer-link:var(--color-footer-link);
$color-footer-link-hover:var(--color-footer-link-hover);

/*===============body-font=================*/
$font-stack-body: var(--font-stack-body);
$font-size-body: var(--font-size-body);

/*===============heading-font=================*/
$font-stack-heading: var(--font-stack-heading);
$font-size-heading: var(--font-size-heading);

/*===============navbar-font=================*/
$font-stack-nav: var(--font-stack-nav);
$font-size-nav: var(--font-size-nav);


