.announcement-wrapper{
    width: 100%;
    overflow: hidden;
  .announcements{
    @include flexbox();
    .announcement-block{
        width: 50%;
        @include flexbox();
        justify-content: space-evenly;
        animation: moveleft 12.43s;
        animation-play-state: running;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        .slide{
            width: 50%;
            @include flexbox();
            align-items: center;
            span{
                font-size: 13px;
                padding: 15px 0px;
            }
        }
    }
    &:hover{
        .announcement-block{
            animation-play-state: paused;
        }
    }
}
}

@include keyframes(moveleft){
    0%{
        visibility: visible;
        transform:translateZ(0);
    }
    100%{
        opacity: 1;
        transform: translate3d(-100%, 0, 0);
    }
    
}