.brick-wrapper{
   
    height: 464px;
    
   @include flexbox();
   @include justify-content(space-evenly);
    .brick-img{
        flex: 1;
        position: relative;
        overflow: hidden;
        
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .brick-content{
        width: 45%;
        height: 100%;
        @include flexbox();
        @include align-items(center);
        .content-wrapper{
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 30px;
            >*{
                margin-bottom: 20px;
                animation: fadeInAnimation ease 3s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            .brick-description{
                line-height: 25px;
            }
            h2{
                font-size: 27px;
                font-weight: 600;
            }
            a{
                display: inline-block;
                width: fit-content;
            }
        }
    }

}
.blur-up{
    -webkit-filter:blur(4px);
    filter: blur(4px);
}
.blur-up.lazyloaded{
    -webkit-filter:blur(0px);
    filter: blur(0px);
}
.img-responsive{
    width: 100%;
}

  
