.products-wrapper{
    width: 100%;
    height: auto;


    .heading-section{
        text-align: center;
        padding:50px;
        h3{
            font-size: 20px;
            margin: 10px 0px;
            font-weight:bolder;

        }
    }

    .featured-products{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .product{
            width: 25%;
            margin-bottom: 30px;
            a{
                width: 100%;
                .img{       
                   height: 80%;
                   img{
                       max-width: 100%;
                       object-fit: cover;
                       object-position: 50% 50%;
                    }
                }
            } 
            .content{
                
                padding-left: 30px;
                p.stars{
                    
                    margin: 15px 0px;
                    span{
                        font-size: 13px;
                        color: black;
                    }
                }
                a{
                    text-decoration: none;
                    h3{
                        font-size: 16px;
                        text-decoration: none;
                        color:$color-link ;
                        margin-bottom: 5px;
                        transition: all 0.5s ease;
                        text-transform: capitalize;
                        &:hover{
                            color: $color-primary;
                        }
                    }
                }
                p{
                    font-size: 13px;
                    color: $color-secondary;
                    margin: 20px 0px 20px 0px ;
                }
            }
            &:hover{
                .content a h3{
                color: $color-primary;
                }
            }

        }
    }
}