.footer{
    position: relative;
    overflow: hidden;
    z-index: 12;
    .footer-img-overlay{
        z-index: -2;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        img{
            height: 100%;
            object-fit: fill;
        }
    }
    .site-footer{
        position: relative;
        z-index: 100;
        padding: 0 50px;
        .footer-logo{
            padding-top:75px;
            display: inline-block;
        }
        .grid{ 
            @include flexbox();
            .grid-item{
                flex: 1;
                margin-top: 75px;
                margin-bottom: 25px;
                a{
                    text-transform: capitalize;
                    font-size: 16px;
                    color: black;
                }
                .subheading{
                    margin: 8px 0px;
                    padding: 0 0 10px;
                    font-weight: 600;   
                } 
            }
            .footer-ul{
                >*{
                    margin-bottom:16px;
                }
                .footer-li{
                    .footer-link{
                        text-transform: capitalize;
                        font-size: 16px;
                        color: black;
                        font-weight: 100;
                    }
                }
            }
            .description{
                margin: 8px 0px;
                word-spacing: 1.2px;
                padding-right:8px;
            }
            .email-btn{
                margin: 7px 0px;
                font-size: 16px;
                @include flexbox();
                border: 0.25px solid $color-link-hover;
                .email{
                    width: 80%;
                    font-size: 16px;
                    outline: none;
                    border: none;
                    padding: 14px 18px;
                    border-radius: none;
                }
                .submit-btn{
                    text-transform: uppercase;
                    color: $color-white;
                    width: 20%;
                    border: none;
                    font-weight: 600;
                    font-size: 14px;
                    background-color: $color-black;
                }
            }
            .name{
                width: 100%;
                font-size: 16px;
                outline: none;
                padding: 14px 18px;
                border-radius: none;
                border: 0.25px solid $color-link-hover;
            }

            
        }
    }

}