
// Header Content
.container{
    width: 100%;
    margin: auto;
    
    .header{
      background-color: $color-header-bg;
      width: 100%;   
      
      .header-upper{
        width: 100%;
        @include flexbox();
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px;
        
        .social-media{
          width: 10%;
          font-size: 20px;
          ul{
            @include flexbox();
            justify-content: space-around;
            li{
              color: $color-header-link;
              list-style: none;
              transition: all 0.4s ease-in-out;
              &:hover {
              svg{
                
                  fill: $color-header-link-hover;
                  
                }
              }
            }
          }
        }
        .center{
          img{
            width: 30px;
          }
      }
      .right{
        width: 10%;
        ul{
          @include flexbox();
          align-items: center;
          justify-content: space-evenly;
          list-style: none;
          li{
            color: $color-header-link;
            transition: all 0.4s ease-in-out;
            &:hover{
              svg path{
                fill: $color-header-link-hover;
              }
            }
          }
        }
      }
    }
    .header-lower{
      background-color: $color-menu-bg;
      padding: 0 25px;
      ul {
        width: 30%;
        margin: auto;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        list-style: none;
        li{
          margin: 0 14px 2px 14px;
          padding: 0px 8px;
          padding-bottom: 8px;
          transition: all .3s;
          position: relative;
          a{
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
            text-decoration: none;
            color: $color-menu-link;
          }
          &::after{
            content: "";
            position: absolute;
            left: 8px;
            right: 8px;
            bottom: 0;
            height: 2px;
            background-color: $color-primary;
            transform: scaleX(0);
            transition: transform .25s cubic-bezier(.215,.61,.355,1);
          }
          &:hover::after{
                transform: scaleX(1.2);
              }
              
        }
      }
    }
  }
}
  
  