.hero-wrapper{
    width: 100%;
    height: 455px;
    overflow: hidden;
    @include flexbox();
    .hero-left,.hero-right{
        position: relative;
        width: 50%;
        .img{
            width: 100%;
            overflow: hidden;
            img{
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%,-50%);
                // max-height: 100%;
                // z-index: -100;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
        .text-wrapper{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index:100;
            margin:50px;
            >*{
                margin-bottom: 30px;
            }
            h3{
                font-size: 30px;
                font-weight: 600;
            }
          
        }
    }
}