.logo-wrapper{
    width: 100%;
    margin: 10px 0px;
    @include flexbox();
    @include justify-content(center);
    .logos{
        margin: 20px auto;
        @include flexbox();
        @include justify-content(space-between);
        .logo{
            width: 100px;
            margin: 0 20px;
            img{
                width: 100%;
            }
        }
    }
}