.form-wrapper{
    .form{
        width: 65%;
        margin: 50px auto;
        display: flex;
        justify-content: space-around;
        .form-left{
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            h3{
                font-size: 23px;
                margin-bottom: 11px;
                text-transform: capitalize;
                font-weight: 600;
            }
            p{
                margin-top: 8px;
                line-height: 20px;
            }
        }
        .form-right{
            display: flex;
            justify-content: center;
            flex-direction: column;
            >*{
                margin-bottom: 7px;
            }
            .first-name,.email-btn{
                padding: 14px 18px;
                font-size: 17px;
                border-radius: 0;
                outline: none;
                border:1px solid var(--color-border-dark);
            }
            .email{
                width: 80%;
                font-size: 17px;
                border: none;
                outline: none;
            }
            .btn{
                display: inline;
                width: 20%;
                font-weight: 600;
                color: black;
                font-size: 14px;
            }
        }
    }
}