.review-wrapper{
    width: 100%;
    .s-text{
        padding: 47px 32px 0px 32px;
        font-size: 13px;
        margin-bottom: 5.5px;
        text-align: center;
    }
    .review-slider-slick{
        margin-top: 10px;
        .slide{
            padding: 10px;
            font-size: 20px;
            text-align: center;
        }
    }
    .logos{
        width: 25%;
        margin: 20px auto;
        @include flexbox();
        justify-content: space-between;
        .logo{
            width: 25%;
            img{
                width: 100%;
            }
        }
    }
}