.main-section{
    padding: 100px 100px;
    background-color: $color-bg-secondary;
    .text-wrapper{
        margin:auto;
        width: 80%;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-between);
        >*{
            margin-bottom: 15px;
            opacity: 0;
            animation: fadeInAnimation ease 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        color: $color-black;
        .heading{
            font-size: 27px;
            font-weight: 600;
        }
        a{
            margin-bottom: 0;
        }
        .paragraph{
            width: 100%;
            @include flexbox();
            
            .left{
                width: 50%;
                p{
                    font-size: 14px;
                }
            }
            .right{
                width: 50%;
                p{
                    font-size: 14px;
                    padding-left: 30px;
                }
                
            }
        }
  }
}