.index-look{
    .look{
        @include flexbox();
        .look-img{
            width: 50%;
            
            .img{
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                img{
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .look-aside{
            width: 50%;
            padding: 60px 10px;
            .look-content{
               width: 100%;
                @include flexbox();
                @include flex-direction(column);
                .look-title{
                    font-size: 11px;
                    letter-spacing: 1.32px;
                    padding-bottom: 30px;
                    text-align: center;
                }
                .look-slider-slick{
                    width: 80%;
                    margin: 0px auto 60px auto;
                    padding: 0px 100px;
                    text-align: left;
                    .look-slide{
                        width: 100%;
                        margin: auto;
                        display: inline-block;
                        a{
                            width: 100%;
                        }
                        .look-slide-content{
                            padding: 10px 10px;
                            a{
                                h3{
                                    text-transform: capitalize;
                                    color: $color-black;
                                    font-size: 16px;
                                    margin-bottom: 10px;
                                    transition: all 0.75s;
                                }
                                &:hover{
                                    h3{
                                        color: $color-primary;
                                    }
                                }
                            }
                            p{
                                color: $color-secondary;
                            }
                        }
                        &:hover{
                            .look-slide-content a h3{
                                color: $color-primary;
                            }
                        }
                    } 
                    .slick-prev::before,.slick-next::before{
                        position: absolute;
                        top: 40%;
                        left: 52px;
                        content: "";
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-color: $color-primary;
                        border-style: solid;
                        border-width: 0 0 2px 2px;
                        margin: -5px 0 0 -3px;
                        vertical-align: middle;
                        transform: rotate(45deg);
                        transform-origin: 50%;
                        transition: all 0s;
                    }
                    .slick-next::before{
                        margin-left: -7px;
                        left: -52px;
                        transform: rotate(-135deg);
                    }
                    .slick-dots{
                        width: 75%;
                        bottom: -35px;  
                        li{
                            button:before{
                                content:'';
                                width: 5px;
                                height: 5px;
                                border: 0.25px solid black;
                                border-radius: 50%;
                            }
                            &.slick-active{
                                button:before{
                                    background-color: #000;
                                }
                            }
                        }    
                    }
                    }
            }   
        }
    }
}