*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-crousel{
    width: 100%;
    overflow: hidden;
    &.slick-slider.slick-dotted{
        margin-bottom: 0;
        .slick-slide{
            
            .slide{
                height:564px;
                position: relative;
                .img{
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .content{
                    width: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    padding: 270px 0 0 100px;
                    >*{ 
                        word-spacing: 2px;
                        margin-bottom: 15px;
                    }
                    p{
                        font-size: 20px;
                    }
                    h3{
                        font-size: 45px;
                    }
                }
                
            }
        }
        .slick-dots{
            bottom: 14px;
            li{
                width: 35px;
                button{
                    &:before{
                        width: 40px;
                        height: 3px;
                        content: '';
                        background: white;
                    }
                }
            }
        }
        &.slick-active{
            .slide{
                
                .content{
                    >*{
                        opacity: 0;
                        animation: fadeInAnimation ease 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }

}