.tab-collection-wrapper {
  width: 100%;
  .heading {
    text-align: center;
    padding: 32px 50px 0;
    font-size: 27px;
    font-weight: 600;
  }
  .tabs-collection {
    .tabs-head {
      width: 100%;
      text-align: center;
      .tabs {
        @include flexbox();
        @include justify-content(space-between);
        width: 15%;
        margin: auto;
        padding: 32px 0 76px 0;
        .tab-link {
          color: #888;
          padding-bottom: 5px;
        }
        .tab-link.current {
          color: black;
          border-bottom: 2px solid #cdcdcd;
        }
      }
    }
    .tab-collection-slider {
      width: auto;
      height: 472px;
      position: relative;

      .tab-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .grid-container {
          @include flexbox();

          .product-item {
            width: 100%;
            height: 472px;
            &.col-img-wrapper {
              color: $color-white;
              position: relative;

              .img {
                width: 100%;
                height: 100%;
                img {
                  height: 100%;
                  object-fit: cover;
                  object-position: center;  
                }
              }

              .prod-desc {
                position: absolute;
                top: 0;
                left: 0;
                    width: 100%;
                    height: 100%;
                @include flexbox();
                flex-direction: column;
                justify-content: space-between;

                .product-count {
                  font-size: 20px;
                  font-weight: 400;
                  padding: 32px 46px;
                }

                .txt-btn {
                  padding: 46px;

                  .description {
                    margin-bottom: 30px;
                    font-size: 20px;
                    font-weight: 400;
                  }

                  a {
                    width: fit-content;
                    color: $color-black;
                    padding: 20px 80px;
                    text-align: center;
                    background-color: $color-white;
                  }
                }
              }
            }
            .product-img {
              width: 100%;
              height: 80%;
              img {
                margin: auto;
                max-height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
            .product-information {
              @include flexbox();
              @include flex-direction(column);
              padding-left: 30px;
              p.stars {
                  margin-top: 10px;
                span {
                  font-size: 13px;
                  color: black;
                }
              }
              a {
                display: inline-block;
                text-decoration: none;
                text-transform: capitalize;
                h3 {
                  font-size: 16px;
                  text-decoration: none;
                  color: $color-link;
                  margin-bottom: 5px;
                  transition: all 0.5s ease;
                  &:hover {
                    color: $color-primary;
                  }
                }
              }
              p {
                font-size: 13px;
                color: $color-secondary;
                margin: 8px 0 17px 0;
              }
            }
            &:hover {
              .product-information a h3 {
                color: $color-primary;
              }
            }
          }
        }
      }
    }
  }
}
