.hero-video{
    width: 100%;
    height: auto;
    min-height: 650px;
    position: relative;
    overflow: hidden;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    .hero-video-content{   
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        color: white;
        >*{
            margin-bottom: 30px;
            animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        h3{
            font-size: 40px;
            font-weight: 600;
        }
        p{
            font-weight: 500;
        }
        
    }
    .hero-video-bg{
        video{
            position: absolute;
            top: 50%;
            left: 50%;
            min-height: 100%;
            min-width: 100%;
            transform: translate(-50%,-50%);
            z-index: -100;
        }
    }
}