@charset "UTF-8";
/*================== common sections ================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto; }

/*===============background-colors=================*/
/*===============normal colors================*/
/*===============text-colors=================*/
/*===============link-colors=================*/
/*===============header-colors=================*/
/*===============header-menu-colors=================*/
/*===============header-submenu-colors=================*/
/*===============footer-colors=================*/
/*===============body-font=================*/
/*===============heading-font=================*/
/*===============navbar-font=================*/
body {
  font-family: var(--font-stack-heading);
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 200; }

.white-color {
  color: var(--color-white); }

.black-color {
  color: var(--color-black); }

.btn-bright {
  color: var(--color-primary);
  background: var(--color-primary);
  border: 1px solid var(--color-primary); }
  .btn-bright:hover {
    background: var(--color-primary);
    color: var(--color-secondary); }

.btn-link {
  color: var(--color-link);
  background: var(--color-link);
  border: 1px solid var(--color-link); }
  .btn-link:hover {
    background: var(--color-link);
    color: var(--color-link-hover); }

.btn-text {
  color: var(--color-text);
  background: var(--color-text);
  border: 1px solid var(--color-text); }
  .btn-text:hover {
    background: var(--color-text);
    color: var(--color-link-hover); }

.btn-secondary {
  color: var(--color-secondary);
  background: var(--color-secondary);
  border: 1px solid var(--color-secondary); }
  .btn-secondary:hover {
    background: var(--color-secondary);
    color: var(--color-link-hover); }

.btn-black {
  color: var(--color-black);
  background: var(--color-black);
  border: 1px solid var(--color-black); }
  .btn-black:hover {
    background: var(--color-black);
    color: var(--color-link-hover); }

.btn-white {
  color: var(--color-white);
  background: var(--color-white);
  border: 1px solid var(--color-link); }
  .btn-white:hover {
    background: var(--color-white);
    color: var(--color-link-hover); }

.cap-text {
  border: none;
  padding: 10px;
  font-weight: 600;
  text-decoration: none;
  background: transparent; }
  .cap-text:hover {
    background: transparent; }

.s-btn {
  border: none;
  padding: 10px;
  color: white; }
  .s-btn:hover {
    color: white;
    background: Darken(50%); }
  .s-btn.btn-white {
    color: black; }
    .s-btn.btn-white:hover {
      color: black; }

.l-btn {
  border: none;
  padding: 15px 60px;
  color: white; }
  .l-btn:hover {
    color: white; }
  .l-btn.btn-white {
    color: black; }
    .l-btn.btn-white:hover {
      color: black; }

.s-o-btn {
  padding: 10px;
  background: transparent; }
  .s-o-btn:hover {
    color: white; }
  .s-o-btn.btn-white {
    color: white;
    border: 1px solid var(--color-white); }
    .s-o-btn.btn-white:hover {
      color: black; }

.l-o-btn {
  padding: 15px 60px;
  background: transparent; }
  .l-o-btn:hover {
    color: white; }
  .l-o-btn.btn-white {
    color: white;
    border: 1px solid var(--color-white); }
    .l-o-btn.btn-white:hover {
      color: black; }

.sticky {
  position: sticky;
  top: 0;
  z-index: 100; }

.clear {
  clear: both; }

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

/* MIXIN : MEDIA QUERIES
 *    EX : @include mq( 'lap-and-up' ) { CODE }
 * ------------------------------------------------------------------------- */
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '\2190'; }

[dir='rtl'] .slick-prev:before {
  content: '\2192'; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '\2192'; }

[dir='rtl'] .slick-next:before {
  content: '\2190'; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: sans-serif;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '\2022';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*==================  snnipets ================*/
.social_links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .social_links li {
    margin-right: 12px; }

.newsletter-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: none;
  color: var(--color-black);
  opacity: 0;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
  .newsletter-popup .modal-content {
    text-align: center;
    z-index: 101;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-flex-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch; }
    .newsletter-popup .modal-content .modal-img {
      overflow: hidden;
      max-height: none;
      flex: 1;
      height: auto;
      border: 1px solid white;
      max-height: 100%; }
      .newsletter-popup .modal-content .modal-img img {
        height: 100%;
        object-fit: cover;
        object-position: center; }
    .newsletter-popup .modal-content form {
      align-self: center;
      flex: 1;
      padding: 50px; }
      .newsletter-popup .modal-content form .newsletter-error {
        font-size: 14px;
        color: var(--color-warning);
        margin: 6px 0px; }
      .newsletter-popup .modal-content form .newsletter-error-sub {
        margin: 6px 0px;
        font-size: 14px;
        color: var(--color-warning);
        display: none; }
      .newsletter-popup .modal-content form .form-success {
        color: green; }
      .newsletter-popup .modal-content form .subheading {
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-size: 13px; }
      .newsletter-popup .modal-content form .heading {
        font-size: 27px;
        margin: 0 0 13.5px 0;
        font-weight: 700; }
      .newsletter-popup .modal-content form .description {
        font-size: 16px;
        margin: 8px 0;
        padding: 0px 10px;
        line-height: 1.5; }
      .newsletter-popup .modal-content form .name {
        width: 100%;
        font-size: 17px;
        outline: none;
        padding: 14px 18px;
        border-radius: none;
        border: 0.25px solid var(--color-link-hover); }
      .newsletter-popup .modal-content form .email-btn {
        margin: 12px 0px 0px 0px;
        font-size: 17px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        border: 0.25px solid var(--color-link-hover); }
        .newsletter-popup .modal-content form .email-btn .email {
          width: 80%;
          font-size: 17px;
          outline: none;
          border: none;
          padding: 14px 18px;
          border-radius: none; }
        .newsletter-popup .modal-content form .email-btn .btn {
          color: var(--color-white);
          width: 21%;
          border: none;
          font-weight: 600;
          font-size: 14px; }
          .newsletter-popup .modal-content form .email-btn .btn.btn-white {
            color: var(--color-black); }
      .newsletter-popup .modal-content form .close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 32px;
        transition: all 0.3s;
        display: inline-block;
        width: 18px;
        height: 18px;
        line-height: 18px;
        cursor: pointer; }
        .newsletter-popup .modal-content form .close-btn:hover {
          transform: rotateZ(90deg); }
  .newsletter-popup:after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

/*==================  sections ================*/
.announcement-wrapper {
  width: 100%;
  overflow: hidden; }
  .announcement-wrapper .announcements {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .announcement-wrapper .announcements .announcement-block {
      width: 50%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-evenly;
      animation: moveleft 12.43s;
      animation-play-state: running;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
      .announcement-wrapper .announcements .announcement-block .slide {
        width: 50%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center; }
        .announcement-wrapper .announcements .announcement-block .slide span {
          font-size: 13px;
          padding: 15px 0px; }
    .announcement-wrapper .announcements:hover .announcement-block {
      animation-play-state: paused; }

@-webkit-keyframes moveleft {
  0% {
    visibility: visible;
    transform: translateZ(0); }
  100% {
    opacity: 1;
    transform: translate3d(-100%, 0, 0); } }

@-moz-keyframes moveleft {
  0% {
    visibility: visible;
    transform: translateZ(0); }
  100% {
    opacity: 1;
    transform: translate3d(-100%, 0, 0); } }

@-o-keyframes moveleft {
  0% {
    visibility: visible;
    transform: translateZ(0); }
  100% {
    opacity: 1;
    transform: translate3d(-100%, 0, 0); } }

@keyframes moveleft {
  0% {
    visibility: visible;
    transform: translateZ(0); }
  100% {
    opacity: 1;
    transform: translate3d(-100%, 0, 0); } }

.container {
  width: 100%;
  margin: auto; }
  .container .header {
    background-color: var(--color-header-bg);
    width: 100%; }
    .container .header .header-upper {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 25px; }
      .container .header .header-upper .social-media {
        width: 10%;
        font-size: 20px; }
        .container .header .header-upper .social-media ul {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: space-around; }
          .container .header .header-upper .social-media ul li {
            color: var(--color-header-link);
            list-style: none;
            transition: all 0.4s ease-in-out; }
            .container .header .header-upper .social-media ul li:hover svg {
              fill: var(--color-header-link-hover); }
      .container .header .header-upper .center img {
        width: 30px; }
      .container .header .header-upper .right {
        width: 10%; }
        .container .header .header-upper .right ul {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          list-style: none; }
          .container .header .header-upper .right ul li {
            color: var(--color-header-link);
            transition: all 0.4s ease-in-out; }
            .container .header .header-upper .right ul li:hover svg path {
              fill: var(--color-header-link-hover); }
    .container .header .header-lower {
      background-color: var(--color-menu-bg);
      padding: 0 25px; }
      .container .header .header-lower ul {
        width: 30%;
        margin: auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        -webkit-box-align: center;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        list-style: none; }
        .container .header .header-lower ul li {
          margin: 0 14px 2px 14px;
          padding: 0px 8px;
          padding-bottom: 8px;
          transition: all .3s;
          position: relative; }
          .container .header .header-lower ul li a {
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
            text-decoration: none;
            color: var(--color-menu-link); }
          .container .header .header-lower ul li::after {
            content: "";
            position: absolute;
            left: 8px;
            right: 8px;
            bottom: 0;
            height: 2px;
            background-color: var(--color-primary);
            transform: scaleX(0);
            transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }
          .container .header .header-lower ul li:hover::after {
            transform: scaleX(1.2); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main-crousel {
  width: 100%;
  overflow: hidden; }
  .main-crousel.slick-slider.slick-dotted {
    margin-bottom: 0; }
    .main-crousel.slick-slider.slick-dotted .slick-slide .slide {
      height: 564px;
      position: relative; }
      .main-crousel.slick-slider.slick-dotted .slick-slide .slide .img {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover; }
      .main-crousel.slick-slider.slick-dotted .slick-slide .slide .content {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 270px 0 0 100px; }
        .main-crousel.slick-slider.slick-dotted .slick-slide .slide .content > * {
          word-spacing: 2px;
          margin-bottom: 15px; }
        .main-crousel.slick-slider.slick-dotted .slick-slide .slide .content p {
          font-size: 20px; }
        .main-crousel.slick-slider.slick-dotted .slick-slide .slide .content h3 {
          font-size: 45px; }
    .main-crousel.slick-slider.slick-dotted .slick-dots {
      bottom: 14px; }
      .main-crousel.slick-slider.slick-dotted .slick-dots li {
        width: 35px; }
        .main-crousel.slick-slider.slick-dotted .slick-dots li button:before {
          width: 40px;
          height: 3px;
          content: '';
          background: white; }
    .main-crousel.slick-slider.slick-dotted.slick-active .slide .content > * {
      opacity: 0;
      animation: fadeInAnimation ease 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }

.brick-wrapper {
  height: 464px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly; }
  .brick-wrapper .brick-img {
    flex: 1;
    position: relative;
    overflow: hidden; }
    .brick-wrapper .brick-img img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .brick-wrapper .brick-content {
    width: 45%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .brick-wrapper .brick-content .content-wrapper {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 30px; }
      .brick-wrapper .brick-content .content-wrapper > * {
        margin-bottom: 20px;
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards; }
      .brick-wrapper .brick-content .content-wrapper .brick-description {
        line-height: 25px; }
      .brick-wrapper .brick-content .content-wrapper h2 {
        font-size: 27px;
        font-weight: 600; }
      .brick-wrapper .brick-content .content-wrapper a {
        display: inline-block;
        width: fit-content; }

.blur-up {
  -webkit-filter: blur(4px);
  filter: blur(4px); }

.blur-up.lazyloaded {
  -webkit-filter: blur(0px);
  filter: blur(0px); }

.img-responsive {
  width: 100%; }

.hero-video {
  width: 100%;
  height: auto;
  min-height: 650px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }
  .hero-video .hero-video-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: white; }
    .hero-video .hero-video-content > * {
      margin-bottom: 30px;
      animation: fadeInAnimation ease 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
    .hero-video .hero-video-content h3 {
      font-size: 40px;
      font-weight: 600; }
    .hero-video .hero-video-content p {
      font-weight: 500; }
  .hero-video .hero-video-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    z-index: -100; }

.form-wrapper .form {
  width: 65%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around; }
  .form-wrapper .form .form-left {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .form-wrapper .form .form-left h3 {
      font-size: 23px;
      margin-bottom: 11px;
      text-transform: capitalize;
      font-weight: 600; }
    .form-wrapper .form .form-left p {
      margin-top: 8px;
      line-height: 20px; }
  .form-wrapper .form .form-right {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .form-wrapper .form .form-right > * {
      margin-bottom: 7px; }
    .form-wrapper .form .form-right .first-name, .form-wrapper .form .form-right .email-btn {
      padding: 14px 18px;
      font-size: 17px;
      border-radius: 0;
      outline: none;
      border: 1px solid var(--color-border-dark); }
    .form-wrapper .form .form-right .email {
      width: 80%;
      font-size: 17px;
      border: none;
      outline: none; }
    .form-wrapper .form .form-right .btn {
      display: inline;
      width: 20%;
      font-weight: 600;
      color: black;
      font-size: 14px; }

.hero-wrapper {
  width: 100%;
  height: 455px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .hero-wrapper .hero-left, .hero-wrapper .hero-right {
    position: relative;
    width: 50%; }
    .hero-wrapper .hero-left .img, .hero-wrapper .hero-right .img {
      width: 100%;
      overflow: hidden; }
      .hero-wrapper .hero-left .img img, .hero-wrapper .hero-right .img img {
        height: 100%;
        object-fit: cover;
        object-position: center center; }
    .hero-wrapper .hero-left .text-wrapper, .hero-wrapper .hero-right .text-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 100;
      margin: 50px; }
      .hero-wrapper .hero-left .text-wrapper > *, .hero-wrapper .hero-right .text-wrapper > * {
        margin-bottom: 30px; }
      .hero-wrapper .hero-left .text-wrapper h3, .hero-wrapper .hero-right .text-wrapper h3 {
        font-size: 30px;
        font-weight: 600; }

.products-wrapper {
  width: 100%;
  height: auto; }
  .products-wrapper .heading-section {
    text-align: center;
    padding: 50px; }
    .products-wrapper .heading-section h3 {
      font-size: 20px;
      margin: 10px 0px;
      font-weight: bolder; }
  .products-wrapper .featured-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .products-wrapper .featured-products .product {
      width: 25%;
      margin-bottom: 30px; }
      .products-wrapper .featured-products .product a {
        width: 100%; }
        .products-wrapper .featured-products .product a .img {
          height: 80%; }
          .products-wrapper .featured-products .product a .img img {
            max-width: 100%;
            object-fit: cover;
            object-position: 50% 50%; }
      .products-wrapper .featured-products .product .content {
        padding-left: 30px; }
        .products-wrapper .featured-products .product .content p.stars {
          margin: 15px 0px; }
          .products-wrapper .featured-products .product .content p.stars span {
            font-size: 13px;
            color: black; }
        .products-wrapper .featured-products .product .content a {
          text-decoration: none; }
          .products-wrapper .featured-products .product .content a h3 {
            font-size: 16px;
            text-decoration: none;
            color: var(--color-link);
            margin-bottom: 5px;
            transition: all 0.5s ease;
            text-transform: capitalize; }
            .products-wrapper .featured-products .product .content a h3:hover {
              color: var(--color-primary); }
        .products-wrapper .featured-products .product .content p {
          font-size: 13px;
          color: var(--color-secondary);
          margin: 20px 0px 20px 0px; }
      .products-wrapper .featured-products .product:hover .content a h3 {
        color: var(--color-primary); }

.review-wrapper {
  width: 100%; }
  .review-wrapper .s-text {
    padding: 47px 32px 0px 32px;
    font-size: 13px;
    margin-bottom: 5.5px;
    text-align: center; }
  .review-wrapper .review-slider-slick {
    margin-top: 10px; }
    .review-wrapper .review-slider-slick .slide {
      padding: 10px;
      font-size: 20px;
      text-align: center; }
  .review-wrapper .logos {
    width: 25%;
    margin: 20px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
    .review-wrapper .logos .logo {
      width: 25%; }
      .review-wrapper .logos .logo img {
        width: 100%; }

.logo-wrapper {
  width: 100%;
  margin: 10px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center; }
  .logo-wrapper .logos {
    margin: 20px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
    .logo-wrapper .logos .logo {
      width: 100px;
      margin: 0 20px; }
      .logo-wrapper .logos .logo img {
        width: 100%; }

.main-section {
  padding: 100px 100px;
  background-color: var(--color-bg-secondary); }
  .main-section .text-wrapper {
    margin: auto;
    width: 80%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    color: var(--color-black); }
    .main-section .text-wrapper > * {
      margin-bottom: 15px;
      opacity: 0;
      animation: fadeInAnimation ease 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
    .main-section .text-wrapper .heading {
      font-size: 27px;
      font-weight: 600; }
    .main-section .text-wrapper a {
      margin-bottom: 0; }
    .main-section .text-wrapper .paragraph {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
      .main-section .text-wrapper .paragraph .left {
        width: 50%; }
        .main-section .text-wrapper .paragraph .left p {
          font-size: 14px; }
      .main-section .text-wrapper .paragraph .right {
        width: 50%; }
        .main-section .text-wrapper .paragraph .right p {
          font-size: 14px;
          padding-left: 30px; }

.index-look .look {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .index-look .look .look-img {
    width: 50%; }
    .index-look .look .look-img .img {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden; }
      .index-look .look .look-img .img img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
  .index-look .look .look-aside {
    width: 50%;
    padding: 60px 10px; }
    .index-look .look .look-aside .look-content {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column; }
      .index-look .look .look-aside .look-content .look-title {
        font-size: 11px;
        letter-spacing: 1.32px;
        padding-bottom: 30px;
        text-align: center; }
      .index-look .look .look-aside .look-content .look-slider-slick {
        width: 80%;
        margin: 0px auto 60px auto;
        padding: 0px 100px;
        text-align: left; }
        .index-look .look .look-aside .look-content .look-slider-slick .look-slide {
          width: 100%;
          margin: auto;
          display: inline-block; }
          .index-look .look .look-aside .look-content .look-slider-slick .look-slide a {
            width: 100%; }
          .index-look .look .look-aside .look-content .look-slider-slick .look-slide .look-slide-content {
            padding: 10px 10px; }
            .index-look .look .look-aside .look-content .look-slider-slick .look-slide .look-slide-content a h3 {
              text-transform: capitalize;
              color: var(--color-black);
              font-size: 16px;
              margin-bottom: 10px;
              transition: all 0.75s; }
            .index-look .look .look-aside .look-content .look-slider-slick .look-slide .look-slide-content a:hover h3 {
              color: var(--color-primary); }
            .index-look .look .look-aside .look-content .look-slider-slick .look-slide .look-slide-content p {
              color: var(--color-secondary); }
          .index-look .look .look-aside .look-content .look-slider-slick .look-slide:hover .look-slide-content a h3 {
            color: var(--color-primary); }
        .index-look .look .look-aside .look-content .look-slider-slick .slick-prev::before, .index-look .look .look-aside .look-content .look-slider-slick .slick-next::before {
          position: absolute;
          top: 40%;
          left: 52px;
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          border-color: var(--color-primary);
          border-style: solid;
          border-width: 0 0 2px 2px;
          margin: -5px 0 0 -3px;
          vertical-align: middle;
          transform: rotate(45deg);
          transform-origin: 50%;
          transition: all 0s; }
        .index-look .look .look-aside .look-content .look-slider-slick .slick-next::before {
          margin-left: -7px;
          left: -52px;
          transform: rotate(-135deg); }
        .index-look .look .look-aside .look-content .look-slider-slick .slick-dots {
          width: 75%;
          bottom: -35px; }
          .index-look .look .look-aside .look-content .look-slider-slick .slick-dots li button:before {
            content: '';
            width: 5px;
            height: 5px;
            border: 0.25px solid black;
            border-radius: 50%; }
          .index-look .look .look-aside .look-content .look-slider-slick .slick-dots li.slick-active button:before {
            background-color: #000; }

.tab-collection-wrapper {
  width: 100%; }
  .tab-collection-wrapper .heading {
    text-align: center;
    padding: 32px 50px 0;
    font-size: 27px;
    font-weight: 600; }
  .tab-collection-wrapper .tabs-collection .tabs-head {
    width: 100%;
    text-align: center; }
    .tab-collection-wrapper .tabs-collection .tabs-head .tabs {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      width: 15%;
      margin: auto;
      padding: 32px 0 76px 0; }
      .tab-collection-wrapper .tabs-collection .tabs-head .tabs .tab-link {
        color: #888;
        padding-bottom: 5px; }
      .tab-collection-wrapper .tabs-collection .tabs-head .tabs .tab-link.current {
        color: black;
        border-bottom: 2px solid #cdcdcd; }
  .tab-collection-wrapper .tabs-collection .tab-collection-slider {
    width: auto;
    height: 472px;
    position: relative; }
    .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
      .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; }
        .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item {
          width: 100%;
          height: 472px; }
          .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item.col-img-wrapper {
            color: var(--color-white);
            position: relative; }
            .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item.col-img-wrapper .img {
              width: 100%;
              height: 100%; }
              .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item.col-img-wrapper .img img {
                height: 100%;
                object-fit: cover;
                object-position: center; }
            .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item.col-img-wrapper .prod-desc {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              flex-direction: column;
              justify-content: space-between; }
              .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item.col-img-wrapper .prod-desc .product-count {
                font-size: 20px;
                font-weight: 400;
                padding: 32px 46px; }
              .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item.col-img-wrapper .prod-desc .txt-btn {
                padding: 46px; }
                .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item.col-img-wrapper .prod-desc .txt-btn .description {
                  margin-bottom: 30px;
                  font-size: 20px;
                  font-weight: 400; }
                .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item.col-img-wrapper .prod-desc .txt-btn a {
                  width: fit-content;
                  color: var(--color-black);
                  padding: 20px 80px;
                  text-align: center;
                  background-color: var(--color-white); }
          .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item .product-img {
            width: 100%;
            height: 80%; }
            .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item .product-img img {
              margin: auto;
              max-height: 100%;
              object-fit: cover;
              object-position: center; }
          .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item .product-information {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            -webkit-flex-direction: column;
            padding-left: 30px; }
            .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item .product-information p.stars {
              margin-top: 10px; }
              .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item .product-information p.stars span {
                font-size: 13px;
                color: black; }
            .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item .product-information a {
              display: inline-block;
              text-decoration: none;
              text-transform: capitalize; }
              .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item .product-information a h3 {
                font-size: 16px;
                text-decoration: none;
                color: var(--color-link);
                margin-bottom: 5px;
                transition: all 0.5s ease; }
                .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item .product-information a h3:hover {
                  color: var(--color-primary); }
            .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item .product-information p {
              font-size: 13px;
              color: var(--color-secondary);
              margin: 8px 0 17px 0; }
          .tab-collection-wrapper .tabs-collection .tab-collection-slider .tab-content .grid-container .product-item:hover .product-information a h3 {
            color: var(--color-primary); }

.footer {
  position: relative;
  overflow: hidden;
  z-index: 12; }
  .footer .footer-img-overlay {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .footer .footer-img-overlay img {
      height: 100%;
      object-fit: fill; }
  .footer .site-footer {
    position: relative;
    z-index: 100;
    padding: 0 50px; }
    .footer .site-footer .footer-logo {
      padding-top: 75px;
      display: inline-block; }
    .footer .site-footer .grid {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
      .footer .site-footer .grid .grid-item {
        flex: 1;
        margin-top: 75px;
        margin-bottom: 25px; }
        .footer .site-footer .grid .grid-item a {
          text-transform: capitalize;
          font-size: 16px;
          color: black; }
        .footer .site-footer .grid .grid-item .subheading {
          margin: 8px 0px;
          padding: 0 0 10px;
          font-weight: 600; }
      .footer .site-footer .grid .footer-ul > * {
        margin-bottom: 16px; }
      .footer .site-footer .grid .footer-ul .footer-li .footer-link {
        text-transform: capitalize;
        font-size: 16px;
        color: black;
        font-weight: 100; }
      .footer .site-footer .grid .description {
        margin: 8px 0px;
        word-spacing: 1.2px;
        padding-right: 8px; }
      .footer .site-footer .grid .email-btn {
        margin: 7px 0px;
        font-size: 16px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        border: 0.25px solid var(--color-link-hover); }
        .footer .site-footer .grid .email-btn .email {
          width: 80%;
          font-size: 16px;
          outline: none;
          border: none;
          padding: 14px 18px;
          border-radius: none; }
        .footer .site-footer .grid .email-btn .submit-btn {
          text-transform: uppercase;
          color: var(--color-white);
          width: 20%;
          border: none;
          font-weight: 600;
          font-size: 14px;
          background-color: var(--color-black); }
      .footer .site-footer .grid .name {
        width: 100%;
        font-size: 16px;
        outline: none;
        padding: 14px 18px;
        border-radius: none;
        border: 0.25px solid var(--color-link-hover); }

