<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  {%- render 'head' -%}

  {{ content_for_header }}
  
</head>


<body>
  
  {% section 'announcement' %}
  {% section 'header' %}
  <main>
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}
  {% section 'popup' %}
  {%- render 'footer-scripts'-%}
</body>
</html>
