.newsletter-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 200;
    display: none;
    color: $color-black ;
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    .modal-content{
        text-align: center;
        z-index: 101;
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%,-50%));
        margin: 0 auto;
        @include flexbox();
        @include align-items(stretch);
        .modal-img{
            overflow: hidden;
            max-height: none;
            flex: 1;
            height: auto;
            border: 1px solid white;
            max-height: 100%;
            img{
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        form{
            align-self: center;
            flex: 1;
            padding: 50px ;

            .newsletter-error{
                font-size: 14px;
                color: $color-warning;
                margin: 6px 0px;
            }
            .newsletter-error-sub{
                margin: 6px 0px;
                font-size: 14px;
                color: $color-warning;
                display: none;
            }
            
            .form-success{
                color: green;
            }
            .subheading{
                margin-bottom: 30px;
                text-transform: uppercase;
                letter-spacing: 1.4px;
                font-size: 13px;
            }
            .heading{
                font-size: 27px;
                margin: 0 0 13.5px 0;
                font-weight: 700;
            }
            .description{
                font-size: 16px;
                margin: 8px 0;
                padding: 0px 10px;
                line-height: 1.5;
            }
            .name{
                width: 100%;
                font-size: 17px;
                outline: none;
                padding: 14px 18px;
                border-radius: none;
                border: 0.25px solid $color-link-hover;
            }
            .email-btn{
                margin: 12px 0px 0px 0px;
                font-size: 17px;
                @include flexbox();
                border: 0.25px solid $color-link-hover;
                .email{
                    width: 80%;
                    font-size: 17px;
                    outline: none;
                    border: none;
                    padding: 14px 18px;
                    border-radius: none;
                }
                .btn{
                    color: $color-white;
                    width: 21%;
                    border: none;
                    font-weight: 600;
                    font-size: 14px;
                    &.btn-white{
                        color: $color-black;
                    }
                }
            }
            .close-btn{
                position: absolute;
                top: 15px;
                right: 15px;
                font-size: 32px;
                transition: all 0.3s;
                display: inline-block;
                width: 18px;
                height: 18px;
                line-height: 18px;
                cursor: pointer;
                &:hover{
                    transform: rotateZ(90deg);
                }
            }
        }
    }
    &:after{
        content: "";
        position: absolute;
        background: rgba(0,0,0,0.15) ;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
   
}