<!-- Announcement Section -->
<style>
    {% if section.settings.announcement_bg_color %}
    .announcements {
        background-color: {{section.settings.announcement_bg_color}};
      }      
    {% endif %}
    {% if section.settings.announcement_txt_color %}
     .announcements .slide span {
        color: {{section.settings.announcement_txt_color}};
    }      
    .announcements a{
        text-transform: capitalize;
            text-decoration: underline solid {{section.settings.announcement_txt_color}};
        color:#212121;
    }
    {% endif %}
</style>

<div class="announcement-wrapper">
<div class="announcements">

        <div class="announcement-block">        
            {% for block in section.blocks %}
                {% if block.settings.annc_text %}
                    <div class="slide body-text">
                        <span>{{block.settings.annc_text}}</span>
                    </div>
                {% endif %}
                {% if block.settings.free_shipping_msg %}
                    <div class="slide body-text">
                        <span>{{block.settings.free_shipping_msg}}</span>
                    </div>
                {% endif %}
                {% if block.settings.custom_html %}
                    <div class="slide body-text">
                        <span>{{block.settings.custom_html}}</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="announcement-block">        
            {% for block in section.blocks %}
                {% if block.settings.annc_text %}
                    <div class="slide body-text">
                        <span>{{block.settings.annc_text}}</span>
                    </div>
                {% endif %}
                {% if block.settings.free_shipping_msg %}
                    <div class="slide body-text">
                        <span>{{block.settings.free_shipping_msg}}</span>
                    </div>
                {% endif %}
                {% if block.settings.custom_html %}
                    <div class="slide body-text">
                        <span>{{block.settings.custom_html}}</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="announcement-block">        
            {% for block in section.blocks %}
                {% if block.settings.annc_text %}
                    <div class="slide body-text">
                        <span>{{block.settings.annc_text}}</span>
                    </div>
                {% endif %}
                {% if block.settings.free_shipping_msg %}
                    <div class="slide body-text">
                        <span>{{block.settings.free_shipping_msg}}</span>
                    </div>
                {% endif %}
                {% if block.settings.custom_html %}
                    <div class="slide body-text">
                        <span>{{block.settings.custom_html}}</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}

{
    "name": "Announcement bar",
    "max_blocks":3,
    "blocks": [
        {
            "name": "Announcement Text",
            "type": "text",
            "settings": [
                {
                    "type": "richtext",
                    "id": "annc_text",
                    "label": "Announcement Text"
                }
            ]
        }, {
            "name": "Free Shipping Message",
            "type": "txt",
            "settings": [
                {
                    "type": "textarea",
                    "id": "free_shipping_msg",
                    "label": "Message",
                    "default": "Spend Rs. 200 for free shipping"
                }
            ]
        }, {
            "name": "Custom HTML",
            "type": "announcement", 
            "settings": [
                {
                    "type": "html",
                    "id": "custom_html",
                    "label": "Message"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Colors"
        }, {
            "type": "color",
            "id": "announcement_bg_color",
            "label": "Background",
            "default": "#F7F7F7"
        }, {
            "type": "color",
            "id": "announcement_txt_color",
            "label": "Text",
            "default": "#545454"
        }
    ],
    "presets": [
        {
            "category": "header",
            "name": "Announcement Section"
        }
    ]
}

{% endschema %}
