<!-- brick section -->
<style>
    
    {% if section.settings.border_checkbox %}
        .brick-img img,.brick-content{
            border:2px solid var(--color-bg-secondary);
        }
    {% endif %}

    {% if section.settings.space_checkbox %}
        .main-crousel {
                margin: 0px;
        }
        .brick-wrapper{
            margin: 35px 125px;
        }
    {% endif %}
</style>


<div class="brick-wrapper">
    {% for block in section.blocks %}
    {% if block.settings.image %}
        <div class="brick-img">
            {%- if block.settings.image-%}
                {%- render 'srcset',src_name:block.settings.image,src_alt:block.settings.image.alt-%}       
            {%-else-%}
                <img src="https://cdn.shopify.com/s/files/1/0081/5654/5088/files/
                -harper-sunday-bLkj9eNhW90-unsplash_1_1080x.jpg?v=1623247997" alt="brick_image">
            {%-endif-%}
        </div>
    {% endif %} 
    {% if block.settings.s_description %}
        <div class="brick-content">
            <div class="content-wrapper">
                <p class=" subheading s-head" >{{block.settings.s_description}}</p>
                <h2 class="heading">{{block.settings.heading_text}}</h2>
                <p class="brick-description description body-text">{{block.settings.description_text}}</p>
                <a href="{{block.settins.button_link}}" class="{{block.settings.custom_text_btn_type}} {{block.settings.custom_text_btn_color}}">{{block.settings.button_text}}</a>   
            </div>
        </div>
    {% endif %}   
    {% endfor %}
</div>
{% schema %}
{
    "name":"Custom Content",
    "max_blocks": 2,
    "blocks":[
        {
            "name": "Image Section",
            "type": "image",
            "settings": [
            {
                "type": "header",
                "content":"General"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image",
                "info": "Use Image from files"
            }
            ]
        },
        {
            "name": "Text Section",
            "type": "Text",
            "settings": [
            {
                "type": "text",
                "id": "s_description",
                "label": "Small description",
                "default": "Sustainably Produced"
            },
            {
                "type": "text",
                "id": "heading_text",
                "label": "Heading",
                "default": "Recycled Materials From Certified Facilities"
            },
            {
                "type": "text",
                "id": "description_text",
                "label": "Description",
                "default": "We partner with high quality jewellers who only use recycled gold, AAA-grade gemstones, and ethically sourced diamonds."
            },
            {
                "type": "header",
                "content": "Button"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "Shop All"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Link"
            },
            {
                "type": "select",
                "id": "custom_text_btn_color",
                "label": "Color", 
                "options": [
                {
                    "value": "btn-link",
                    "label": "Link Text"
                },
                {
                    "value": "btn-bright",
                    "label": "Bright accent"
                },
                {
                    "value": "btn-text",
                    "label": "Color Text"
                },
                {
                    "value": "btn-secondary",
                    "label": "Secondary accent"
                },
                {
                    "value": "btn-black",
                    "label": "Black"
                },
                {
                    "value": "btn-white",
                    "label": "White"
                }
                ],
                "default": "btn-black"
            },
            {
                "type": "select",
                "id": "custom_text_btn_type",
                "label": "Style",
                "options": [
                    {
                        "value": "cap-text",
                        "label": "Capitalized Text"
                    },
                    {
                        "value": "s-btn",
                        "label": "Small Button"
                    },
                    {
                        "value": "l-btn",
                        "label": "Large Button"
                    },
                    {
                        "value": "s-o-btn",
                        "label": "Small Outline Button"
                    },
                    {
                        "value": "l-o-btn",
                        "label": "Large Outline Button"
                    }
                    ],
                    "default": "s-o-btn"
            }
            ]
        }
        
    ],
    "settings":[
    {
        "type": "checkbox",
        "id": "space_checkbox",
        "label": "Add Spacing",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "border_checkbox",
        "label": "Add Borders",
        "default": false
    }
   ],
  "presets":[
  {
    "name":"Custom Content"
  }
  ]
}
{% endschema %}