<div class="products-wrapper">

    <div class="heading-section">
        <h3 class="heading">{{section.settings.text_product_heading}}</h3>
        <p class="subheading">{{section.settings.text_product_subheading}}</p>
    </div>
    <div class="featured-products">
        {% assign _collection = collections[section.settings.feature_collection] %}
        {%- for product in _collection.products limit:8 -%}
            <div class="product">
                <a href="{{product.url}}">
                    <div class="img">
                        {%- render 'srcset',src_name:product.featured_image,img_url:"grande",src_alt:product.title -%}
                    </div>
                </a>
                <div class="content">
                    <p class="stars">
                        <span class="fa fa-star checked"></span> 
                        <span class="fa fa-star checked"></span> 
                        <span class="fa fa-star checked"></span> 
                        <span class="fa fa-star checked"></span> 
                        <span class="fa fa-star checked"></span> 
                     </p>
                    <a href="{{product.url}}">
                        <h3>{{product.title}}</h3>
                    </a>
                    <p>{{product.price | money}} <s>{{product.compare_at_price | money}}</s></p>
                </div>

            </div>
        {%- endfor -%}
    </div>
</div>
{% schema %}
{
    "name": "Featured Collection",
    "settings": [
    {
        "type": "text",
        "id": "text_product_heading",
        "label": "Text Heading",
        "default": "Everyday Essentials"
    },
    {
        "type": "text",
        "id": "text_product_subheading",
        "label": "Text Subheading",
        "default": "Keeping you on top of the latest trends"
    },
   {
       "type": "collection",
       "id": "feature_collection",
       "label": "Product Collection",
       "info": "Select collection to use the products"
   }
    
        
    ],"presets": [
        {
            "name":"Featured Collection"
        }
    ]
}
{% endschema %}