<style>

    
{% if section.settings.footer_logo_width %}
    .footer-logo img{
        width: {{section.settings.footer_logo_width}}px;
    }    
{% endif %}

{% if section.settings.opt_bg_image_position %}

    .footer{
        background-color: {{section.settings.opt_bg_overlay_color}}{{section.settings.opt_bg_overlay_opacity}};
    }

{% endif %}

{% if section.settings.opt_bg_image_position %}

    .footer-img-overlay img{
        object-position: 50% 50%;
    }

{% endif %}
</style>

<div class="footer" >
    {% if section.settings.opt_bg_image %}
        <div class="footer-img-overlay">
            {% render 'srcset',src_name:section.settings.opt_bg_image ,src_alt:section.settings.opt_bg_image.alt %}
        </div>
    {% endif %}

    <div class="site-footer">
        <a href="/" class="footer-logo">
            {% render 'srcset' , src_name:section.settings.footer_logo ,src_alt:section.settings.footer_logo.alt %}
        </a>
        <div class="grid">
            {% for block in section.blocks %}
            <div class="grid-item clear">
                {% assign linkes = linklists[block.settings.footer_link_list] %}
                {% if block.settings.footer_link_list %}
                <a href="/"> 
                    {% if block.settings.footer_link_list_title  %}
                       <h3 class="subheading">{{linkes.title}}</h3>
                    {% else %}
                        <h3 class="subheading">{{block.settings.footer_link_list_title}}</h3>
                    {% endif %}
                    </a>
                    <ul class="footer-ul">
                        {% for link in linkes.links %}
                            <li class="footer-li"><a class="footer-link" href="{{link.url}}">{{link.title}}</a></li>
                        {% endfor %}
                    </ul>

                {% elsif block.settings.footer_newsletter_description %}

                    <h3 class="subheading">Newsletter</h3>
                    <div class="description">{{block.settings.footer_newsletter_description}}</div>
                    {% if block.settings.footer_newsletter_firstname %}
                        <input type="text" class="name" placeholder="Firstname">
                    {% endif %}
                    <div class="email-btn">
                        <input type="email" class="email" placeholder="email@newsletter.com">    
                        <button type="submit"  class="submit-btn">Join</button>
                    </div>
                  
                {% elsif block.settings.footer_social_title %}
                     <h3 class="subheading">Social</h3>
                     <div class="icons">
                        {% render 'social-links'%}
                     </div>
                {% elsif block.settings.footer_page %}
                     
                {% endif %}
            </div>
                {% endfor %}
        </div>
        <div class="grid">
            <div class="footer_secondary">
                .icons
            </div>
            <div class="footer_payment"></div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Footer",
    "max_blocks": 4,
    "settings": [
    {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Logo"
    },
    {
        "type": "range",
        "id": "footer_logo_width",
        "label": "Logo Width(in pixels)",
        "unit": "px",
        "min": 50,
        "max": 400,
        "step": 5,
        "default": 75
    },
    {
        "type": "header",
        "content": "Optional Background Image"
    },
    {
        "type": "image_picker",
        "id": "opt_bg_image",
        "label": "Image"
    },
    {
        "type": "select",
        "id": "opt_bg_image_position",
        "label": "Position",
        "options": [
            {
                "value": "top",
                "label": "Top"
            },
            {
                "value": "right",
                "label": "Right"
            },
            {
                "value": "center",
                "label": "Center"
            },
            {
                "value": "left",
                "label": "Left"
            },
            {
                "value": "bottom",
                "label": "Bottom"
            }
        ],
        "info": "Requires the 'Image parallax' setting to be disabled" 
    },
    {
        "type": "range",
        "id": "opt_bg_overlay_opacity",
        "label": "Opacity",
        "unit": "%",
        "min": 1,
        "max": 100,
        "step": 1,
        "default": 70
    },
    {
        "type": "color",
        "id": "opt_bg_overlay_color",
        "label": "Overlay color",
        "default": "#ffffff"
    },
    {
        "type": "header",
        "content": "Bottom Bar"
    },
    {
        "type": "link_list",
        "id": "bottom_bar_menu",
        "label": "Link List",
        "default": "main-menu",
        "info": "This menu won't show dropdown items."
    },
    {
        "type": "checkbox",
        "id": "show_payment",
        "label": "Show Payment Types",
        "default": true
    }
    

    ],
    "blocks":[
        {
            "name": "Link List",
            "type": "text",
            "settings": [
                {
                    "type": "link_list",
                    "id": "footer_link_list",
                    "label": "Link List",
                    "info": "This menu won't show dropdown items."
                },
                {
                    "type": "text",
                    "id": "footer_link_list_title",
                    "label": "Title"
                }
            ]
        },
        {
            "name": "Newsletter",
            "type": "newsletter",
            "settings": [
                {
                    "type": "richtext",
                    "id": "footer_newsletter_description",
                    "label": "Description",
                    "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"

                },
                {
                    "type": "checkbox",
                    "id": "footer_newsletter_firstname",
                    "label": "Show Name Field",
                    "default": false
                }
                
            ]
        },
        {
            "name": "Social",
            "type": "sociallinks",
            "settings": [
                {
                    "type": "text",
                    "id": "footer_social_title",
                    "label": "Title"
                }
            ]
        },
        {
            "name": "Page",
            "type": "page",
             "settings": [
                    {
                        "type": "page",
                        "id": "footer_page",
                        "label": "Page"
                    }
            ]
        }
    ]
}
{% endschema %}