<style>
    {% if section.settings.transperent_header %}
    .container .header{
        background-color: transparent;
    }    

    {% endif %}
    
</style>

<!-- Header Section -->
<div class="container" data-fix={{section.settings.sticky_header}}>
    <div class="header">
        <div class="header-upper">
            <div class="social-media left">
                {% render 'social-links'%}
            </div>
            <div class="logo center">
                {%- if section.settings.logo-%}
                    {%-render 'srcset',src_name:section.settings.logo,src_alt:shop.name-%}
                 {%-else-%}
                     <img src="https://cdn.shopify.com/s/files/1/0081/5654/5088/files/clean_logo_110x.png?v=1624906506" alt="website_logo">
                {%-endif-%}
            </div>
            <div class="right">
                <ul>
                    <li>{% render 'icons',icon:'account'%}</li>
                    {% if section.settings.show_search %}
                    <li>{% render 'icons',icon:'search'%}</li>
                    {% endif %}
                    <li>{% render 'icons',icon:'cart'%}</li>
                </ul>
            </div> 
        </div>
        <div class="header-lower">
            <ul>
              {%- for link in linklists[section.settings.main_menu].links -%}
              <li class=" {% if link.active%} active {% endif %} ">
                  <a href="{{link.url}}">{{link.title}}</a>
                  {%- if link.links -%}
                  <div class="sublinks">
                  <ul>
                        {%- for sublink in link.links -%}
                        <li>
                            <a href="{{sublink.url}}">{{sublink.title}}</a>
                        </li>
                        {%- endfor-%}
                    </ul>
                </div>
                  {% endif%}
    
              </li>
              {%- endfor-%}
            </ul>
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "header",
            "content":"Logo"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Image"
        },
        {
            "type": "range",
            "id": "logo_width",
            "label": "Width",
            "unit": "px",
            "min": 5,
            "max": 500,
            "step": 5,
            "default": 30
        },
        {
            "type": "header",
            "content": "Main Menu"
        },
        {
            "type": "link_list",
            "id": "main_menu",
            "label": "Main menu",
            "default": "main-menu"
        },
        {
            "type": "checkbox",
            "id": "show_search",
            "label": "Show Search",
            "default": true
        },
        {
            "type": "header",
            "content": "Sticky Header"
        },
        {
            "type": "select",
            "id": "sticky_header",
            "label": "Header Scroll Behavior",
            "options": [
                {
                    "value": "false",
                    "label": "Default"
                },
                {
                    "value":"true",
                    "label":"Sticky"
                }
            ],"default": "false"
        },
        {
            "type": "header",
            "content": "Transperent Header"
        },
        {
            "type": "checkbox",
            "id": "transperent_header",
            "label": "Enable on Homepage",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "collection_page_trans",
            "label": "Enable On Collection Page",
            "default": false    
        },
        {
            "type": "checkbox",
            "id": "artical_page_trans",
            "label": "Enable on Article Page",
            "default": false
        },
        {
            "type": "image_picker",
            "id": "alternate_logo",
            "label": "Alternate Logo"
        },
        {
            "type": "header",
            "content": "Mobile Menu"
        },
        {
            "type": "link_list",
            "id": "mobile_menu",
            "label": "Mobile menu",
            "default": "main-menu"
        }
    ],
    "presets": [
        {
            "category": "header",
            "name":"Navigation Bar"
        }
    ]
}
{% endschema %}