<div class="hero-wrapper">
    <div class="hero-left">
        <div class="img">
            {%- render 'srcset', src_name:section.settings.image , src_alt:block.settings.image.alt-%}
        </div>
        <div class="text-wrapper {{section.settings.left_text_color}}">
            <h3 class="heading">{{section.settings.hero_heading}}</h3>
            <p class="description">{{section.settings.hero_description}}</p>
            <a class=" {{section.settings.left_img_hero_btn_type}} {{section.settings.left_img_hero_btn_color}}" href="#">{{section.settings.left_hero_btn_text}}</a>
        </div>
    </div>
    <div class="hero-right">
        <div class="img">
            {%- render 'srcset', src_name:section.settings.right_background_img, src_alt:block.settings.image.alt-%}
        </div>
        <div class="text-wrapper {{section.settings.right_text_color}}">
            <h3 class="heading">{{section.settings.right_hero_head}}</h3>
            <p class="description">{{section.settings.right_hero_descr}}</p>
            <a class=" {{section.settings.right_img_hero_btn_type}} {{section.settings.right_img_hero_btn_color}}" href="#">{{section.settings.right_hero_btn_txt}}</a>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Image with Text Overlay",
    "settings": [
    {
        "type": "header",
        "content":"Left Section"
    },
    {
        "type": "image_picker",
        "id":"image",
        "label":"Image"
    },
    {
        "type": "text",
        "id": "hero_heading",
        "label": "Heading",
        "default": "Wedding & Engagement"
    },
    {
        "type": "text",
        "id": "hero_description",
        "label": "Description",
        "default": "Explore rings and bands for your big moment, and all the little memories after."
    },
    {
        "type": "select",
        "id": "left_text_color",
        "label": "Color",
        "options": [
            {
                "value": "white-color",
                "label": "White"
            },
            {
                "value":"black-color",
                "label":"Dark"
            }
        ]
    },
    {
        "type": "header",
        "content": "Button Text"
    },
    {
        "type": "text",
        "id": "left_hero_btn_text",
        "label": "Button",
        "default": "VIEW RINGS"
    },
    {
        "type": "text",
        "id": "left_img_hero_button_link",
        "label": "Link",
        "default": "#"
    },                {
        "type": "select",
        "id": "left_img_hero_btn_color",
        "label": "Color", 
        "options": [
        {
            "value": "btn-link",
            "label": "Link Text"
        },
        {
            "value": "btn-bright",
            "label": "Bright accent"
        },
        {
            "value": "btn-text",
            "label": "Color Text"
        },
        {
            "value": "btn-secondary",
            "label": "Secondary accent"
        },
        {
            "value": "btn-black",
            "label": "Black"
        },
        {
            "value": "btn-white",
            "label": "White"
        }
        ],
        "default": "btn-white"
    },
    {
        "type": "select",
        "id": "left_img_hero_btn_type",
        "label": "Style",
        "options": [
            {
                "value": "cap-text",
                "label": "Capitalized Text"
            },
            {
                "value": "s-btn",
                "label": "Small Button"
            },
            {
                "value": "l-btn",
                "label": "Large Button"
            },
            {
                "value": "s-o-btn",
                "label": "Small Outline Button"
            },
            {
                "value": "l-o-btn",
                "label": "Large Outline Button"
            }
            ],
            "default": "l-btn"
    },
    {
        "type": "header",
        "content":"Right Section"
    }, 
    {
        "type": "image_picker",
        "id":"right_background_img",
        "label":"Right Image"
    },
    {
        "type": "text",
        "id": "right_hero_head",
        "label": "Right Heading",
        "default": "Bracelets"
    },
    {
        "type": "text",
        "id": "right_hero_descr",
        "label": "Right Description",
        "default": "Envelope your wrist in 14k recycled gold all day, everyday."
    },
    {
        "type": "select",
        "id": "right_text_color",
        "label": "Color",
        "options": [
            {
                "value": "white-color",
                "label": "White"
            },
            {
                "value":"black-color",
                "label":"Dark"
            }
        ]
    },
    {
        "type": "text",
        "id": "right_hero_btn_txt",
        "label": "Right Button",
        "default": "VIEW ASSEMBLY BRACELET"
    },
    {
        "type": "text",
        "id": "right_img_hero_button_link",
        "label": "Link",
        "default": "#"
    },
    {
        "type": "select",
        "id": "right_img_hero_btn_color",
        "label": "Color", 
        "options": [
        {
            "value": "btn-link",
            "label": "Link Text"
        },
        {
            "value": "btn-bright",
            "label": "Bright accent"
        },
        {
            "value": "btn-text",
            "label": "Color Text"
        },
        {
            "value": "btn-secondary",
            "label": "Secondary accent"
        },
        {
            "value": "btn-black",
            "label": "Black"
        },
        {
            "value": "btn-white",
            "label": "White"
        }
        ],
        "default": "btn-white"
    },
    {
        "type": "select",
        "id": "right_img_hero_btn_type",
        "label": "Style",
        "options": [
            {
                "value": "cap-text",
                "label": "Capitalized Text"
            },
            {
                "value": "s-btn",
                "label": "Small Button"
            },
            {
                "value": "l-btn",
                "label": "Large Button"
            },
            {
                "value": "s-o-btn",
                "label": "Small Outline Button"
            },
            {
                "value": "l-o-btn",
                "label": "Large Outline Button"
            }
            ],
            "default": "l-btn"
    }
    
    ],
    "presets": [
        {
            "name":"Image with Text Overlay"
        }
    ]
}
{% endschema %}