<div class="logo-wrapper">
    <div class="logos">
        {% for block in section.blocks %}
                <div class="logo">
                    {% render 'srcset',src_name:block.settings.review_logo,src_url_alt:block.settings.review_logo_alt %}
                </div>            
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Logo List",
    "blocks":[
        {
            "name": "Logo",
            "type": "text",
            "settings": [
            {
                "type": "image_picker",
                "id": "review_logo",
                "label": "Logo"
            }
            ]
        }
    ],
    "presets": [
        {
            "name":"Logos List"
        }
    ]
}
{% endschema %}