<div class="form-wrapper">
    <div class="form">
        <div class="form-left">
            <h3 class="subheading">{{section.settings.form_heading}}</h3>
            <p class="description">{{section.settings.form_description}}</p>
        </div>
        <div class="form-right">
            <input class="first-name " type="text" placeholder="First name">
            <div class="email-btn">
                <input class="email" type="text" placeholder="email@newsletter.com">
                <a class="btn" href="#">JOIN</a>
            </div>
        </div>
    </div>
</div> 
    
{% schema %}
{
    "name": "Newsletter",
    "settings": [
       {
           "type": "text",
           "id": "form_heading",
           "label": "Form Heading",
           "default": "Join the community"
       }, 
       {
           "type": "text",
           "id": "form_description",
           "label": "Form description",
           "default": "Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals."
       }
    ],
    "presets": [
        {
            "name":"Newsletter"   
        }
    ]
}
{% endschema %}