{% render 'newsletter-popup'%}


{% schema %}
{
    "name": "Popups",
    "settings": [
    {
        "type": "image_picker",
        "id": "popup_image",
        "label": "Image",
        "info": "Optional"
    },
    {
        "type": "text",
        "id": "popup_subheading_txt",
        "label": "Form Heading",
        "default": "BROADCAST"
    }, 
    {
        "type": "text",
        "id": "popup_heading_txt",
        "label": "Form Heading",
        "default": "Newsletter"
    }, 
    {
        "type": "text",
        "id": "popup_description_txt",
        "label": "Form description",
        "default": "Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals."
    },
    {
        "type": "header",
        "content": "Button"
    },
    {
        "type": "text",
        "id": "popup_button_txt",
        "label": "Button Text",
        "default": "Join"
    },
    {
        "type": "select",
        "id": "popup_btn_clr",
        "label": "Color", 
        "options": [
        {
            "value": "btn-link",
            "label": "Link Text"
        },
        {
            "value": "btn-bright",
            "label": "Bright accent"
        },
        {
            "value": "btn-text",
            "label": "Color Text"
        },
        {
            "value": "btn-secondary",
            "label": "Secondary accent"
        },
        {
            "value": "btn-black",
            "label": "Black"
        },
        {
            "value": "btn-white",
            "label": "White"
        }
        ],
        "default": "btn-black"
    },
    {
        "type": "header",
        "content": "Colors"
    },
    {
        "type": "color",
        "id": "popup_color",
        "label": "Background",
        "default": "#FFFFFF"
    },
    {
        "type": "select",
        "id": "popup_text_color",
        "label": "Color",
        "options": [
            {
                "value": "white-color",
                "label": "White"
            },
            {
                "value":"black-color",
                "label":"Dark"
            }
        ],
        "default": "black-color"
    },
    {
        "type": "header",
        "content": "Newsletter Form"
    },
    {
        "type": "checkbox",
        "id": "popup_newsletter_form_enable",
        "label": "Enable Newsletter Form",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "popup_firstname",
        "label": "Show Name Field",
        "default": false
    },
    {
        "type": "header",
        "content": "Popup Behaviour"
    },
    {
        "type": "select",
        "id": "newsletter_delay",
        "label": "Delay appearance",
        "options": [
            {
                "value": "0",
                "label": "Show immediately"
            },
            {
                "value": "10000",
                "label": "Show 10 seconds after page load"
            },
            {
                "value": "",
                "label": "Show after user scrolls to page bottom"
            },
            {
                "value": "60000",
                "label": "Show after user has been idle for 1 minute"
            }
        ],
        "default": "0"
    }

    ],
    "presets": [
        {
            "name":"Image Prop"
        }
    ]
}
{% endschema %}    