<div class="review-wrapper">
    <p class="s-text">PRESS</p>
    <div class="review-slider-slick">
        {% for block in section.blocks %}
            <div class="slide">
                <p>{{block.settings.slide_text}}</p>
            </div>
        {% endfor %}
    </div>
</div>

</div>
{% schema %}
{
    "name": "Review Section",
    "blocks":[
        {
            "name": "slide",
            "type": "text",
            "settings": [
                {
                    "type": "text",
                    "id": "slide_text",
                    "label": "Slide Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name":"Review Section"
        }
    ]
}
{% endschema %}