<!-- Rich Text -->
<style>

    {% if section.settings.height_section %}    
        .main-section{
            padding: calc(50px * {{section.settings.height_section}}) 0;
        }
    {% endif %}
    {% if section.settings.width_section %}    
        .main-section .text-wrapper{
            max-width: {{section.settings.width_section}};
        }
    {% endif %}
    
    
    {% assign size = 13 %}

    {% for i in (0...section.settings.text_size) %}
        {{size | add}}    
    {% endfor %}
    
    {% if section.settings.text_size %}

    .desctiption{
        font-size: 
    }

    {% endif %}
</style>

<div class="main-section" style="background-color: {{section.settings.rich_bg_color}};">
    <div class="text-wrapper {{section.settings.rich_text_align}} {{section.settings.rich_text_color}}" >
            <p class="subheading">{{section.settings.text_subheading}}</p>
            <h3 class="heading">{{section.settings.text_heading}}</h3>
            <div class="paragraph">
                <div class="left">
                    <p class="description">{{section.settings.text_description}}</p>
                </div>
                <div class="right">
                    <p class="description">{{section.settings.text_right_description}}</p>
                </div>
            </div>
            <a href="{{section.settings.rich_text_button_link}}" class=" butn {{section.settings.rich_text_btn_type}} {{section.settings.rich_text_btn_color}}">{{section.settings.text_btn}}</a>
        </div>
    </div>  
</div>

{% schema %}
{
    "name": "Rich Text",
    "settings": [
    {
        "type": "header",
        "content":"Left section"
    },
    {
        "type": "text",
        "id": "text_subheading",
        "label": "Subheading",
        "default": "Our Promise"
    }, 
    {
        "type": "text",
        "id": "text_heading",
        "label": "Heading",
        "default": "Ethical and beautiful"
    }, 
    {
        "type": "richtext",
        "id": "text_description",
        "label": "Text",
        "default": "<p>We are committed to quality products that are manufactured ethically and sustainably. All of our pieces are traceable throughout the supply chain.</p>"
    },
    {
        "type": "text",
        "id": "text_right_description",
        "label": "Text description",
        "default": "We strive to ensure our products contribute to the well-being of people and planet, and our efforts put us on track towards a brighter future."
    },
    {
        "type": "range",
        "id": "text_size",
        "label": "Text Size",
        "unit": "px",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 1
    },
    {
        "type": "select",
        "id": "rich_text_align",
        "label": "Text Alignment",
        "options": [
            {
                "value": "text-left",
                "label": "Left"
            },
            {
                "value": "text-center",
                "label": "Center"
            }
        ],
        "default": "text-left"
    },
    {
        "type": "header",
        "content": "Button"
    },
    {
        "type": "text",
        "id": "text_btn",
        "label": "Text Button",
        "default": "LEARN MORE"
    },
    {
        "type": "url",
        "id": "rich_text_button_link",
        "label": "Link"
    },

    {
        "type": "select",
        "id": "rich_text_btn_color",
        "label": "Color", 
        "options": [
        {
            "value": "btn-link",
            "label": "Link Text"
        },
        {
            "value": "btn-bright",
            "label": "Bright accent"
        },
        {
            "value": "btn-text",
            "label": "Color Text"
        },
        {
            "value": "btn-secondary",
            "label": "Secondary accent"
        },
        {
            "value": "btn-black",
            "label": "Black"
        },
        {
            "value": "btn-white",
            "label": "White"
        }
        ],
        "default": "btn-black"
    },
    {
        "type": "select",
        "id": "rich_text_btn_type",
        "label": "Style",
        "options": [
            {
                "value": "cap-text",
                "label": "Capitalized Text"
            },
            {
                "value": "s-btn",
                "label": "Small Button"
            },
            {
                "value": "l-btn",
                "label": "Large Button"
            },
            {
                "value": "s-o-btn",
                "label": "Small Outline Button"
            },
            {
                "value": "l-o-btn",
                "label": "Large Outline Button"
            }
            ],
            "default": "s-btn"
    },
    {
        "type": "header",
        "content": "Style"
    },
    {
        "type": "select",
        "id": "height_section",
        "label": "Height",
        "options": [
            {
                "value": "1",
                "label": "Small"
            },
            {
                "value": "2",
                "label": "Medium"
            },
            {
                "value": "3",
                "label": "Large"
            }
        ],
        "default": "2"
    },
    {
        "type": "select",
        "id": "width_section",
        "label": "Width",
        "options": [
            {
                "value": "750px",
                "label": "Small"
            },
            {
                "value": "1180px",
                "label": "Medium"
            },
            {
                "value": "none",
                "label": "Large"
            }
        ],
        "default": "1180px"
    },
    {
        "type": "select",
        "id": "rich_text_color",
        "label": "Color",
        "options": [
            {
                "value": "white-color",
                "label": "White"
            },
            {
                "value":"black-color",
                "label":"Dark"
            }
        ]
    },
    {
        "type": "color",
        "id": "rich_bg_color",
        "label": "Background",
        "default": "#FFFFFF"
    }
   
    ],
    "presets": [
        {
            "name":"Rich Text"
        }
    ]
}
{% endschema %}