    <div class="index-look">
        <div class="look">
            <div class="look-img">
                <div class="img">
                    {% render 'srcset',src_name:section.settings.look_img,src_url_alt:section.settings.review_logo_alt%}
                </div>
            </div>
            <div class="look-aside">
                <div class="look-content">
                    <p class="look-title">{{section.settings.look_title}}</p>
                    <div class="look-slider-slick">
                        {% for block in section.blocks %}
                        {% assign product = block.settings.look_product %}
                            <div class="look-slide">
                                <a href="{{product.url}}">
                                    <div class="look-slide-img">
                                        {%- render 'srcset',src_name:product.featured_image,img_url:"grande",src_alt:product.title -%}
                                    </div>
                                </a>
                                <div class="look-slide-content">
                                    <a href="{{product.url}}">
                                        <h3>{{product.title}}</h3>
                                    </a>
                                    <p>{{product.price | money}} <s>{{product.compare_at_price | money}}</s></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% schema %}
    {
        "name": "Shop The Look",
        "settings": [
            {
                "type": "header",
                "content": "Image"
            },
            {
                "type": "image_picker",
                "id": "look_img",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "look_title",
                "label": "Heading",
                "default": "IN REAL LIFE - SHOP OUR INSTAGRAM"
            },
            {
                "type": "color",
                "id": "look_bg_color",
                "label": "Background",
                "default": "#FAFAFA"
            },
            {
                "type": "color",
                "id": "look_dot_color",
                "label": "Dot",
                "default": "#FFF"
            }
        ],
        "blocks":[
            {
                "name": "Image Slide",
                "type":"image",
                "settings": [
                 {
                    "type": "product",
                    "id": "look_product",
                    "label": "Product"
                 }   
                ]
            }
        ],
        "presets": [
            {
                "name":"Shop The Look"
            }
        ]
    }
    {% endschema %}