<!-- Slideshow Section -->
<style>
    
    
    
    {% if section.settings.slide_nav_arrows %}
        .slick-prev::before,.slick-next::before{
            position: absolute;
            top: 40%;
            left: -10px;
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            border-color:var(--color-white);
            border-style: solid;
            border-width: 0 0 2px 2px;
            margin: -5px 0 0 -3px;
            vertical-align: middle;
            transform: rotate(45deg);
            transform-origin: 50%;
            transition: all 0s;
        }
        .slick-next::before{
            margin-left: -7px;
            left: -52px;
            transform: rotate(-135deg);
        }
{% endif %}
</style>


<div class="main-crousel" data-arrow={{section.settings.slide_nav_arrows}} data-transition={{section.settings.slideshow_transition_style}} data-time={{section.settings.autoplay_seconds}} {% if section.settings.autoplay_slides %} data-autoplay = {{section.settings.autoplay_slides}}{% endif %} >          

    {%- for block in section.blocks -%}
    <div class="slide">
        {%- if block.settings.image -%}
        <div class="img" style="background-image: url({{block.settings.image | img_url:'master'}}); background-position:{{block.settings.image_background}}">
        </div>
            {%- endif -%}
            <div class="content {{block.settings.slideshow_text_color}}">
                    {%- if block.settings.heading_text-%}
                    <h3 class="heading">{{block.settings.heading_text}}</h3>
                    {%- endif -%}
                    {%- if block.settings.description_text-%}
                    <p class="description">{{block.settings.description_text}}</p>
                    {%- endif -%}
                    {%- if block.settings.button_text-%}
                    <a href="{{block.settings.button_link}}" class="{{block.settings.slideshow_btn_type}} {{block.settings.slideshow_btn_color}}">{{block.settings.button_text}}</a>
                    {%- endif -%}
                </div>
            </div>
    {%- endfor -%}
</div>  
 
{% schema %}
        {   
            "name": "Slide Show",
            "settings":[
            {
                "type": "header",
                "content":"Layout"
            },
            {
                "type": "select",
                "id": "slideshow_transition_style",
                "label": "Transition Style",
                "options": [
                    {
                        "value": "slide",
                        "label": "Slide"
                    },
                    {
                        "value":"fade",
                        "label":"Fade"
                    }
                ]
            },
            {
                "type": "checkbox",
                "id": "slide_nav_arrows",
                "label": "Show navigation Arrows",
                "default": false
            },
            {
                "type": "select",
                "id": "slideshow_dots",
                "label": "Navigation Dots Style",
                "options": [
                    {
                        "value": "",
                        "label": "Hidden"
                    },
                    {
                        "value":"circle",
                        "label":"Circle"
                    },
                    {
                        "value":"square",
                        "label":"Square"
                    }
                ]
            },
            {
                "type": "header",
                "content": "Autoplay"
            },
            {
                "type": "checkbox",
                "id": "autoplay_slides",
                "label": "Auto-rotate Slides",
                "default": true
            },
            {
                "type": "range",
                "id": "autoplay_seconds",
                "label": "Changes slide every",
                "unit": "sec",
                "min": 4,
                "max": 15,
                "step": 1,
                "default":4
            }
            
            ],
            "blocks":[
            {
                "name": "Image Slide",
                "type":"image",
                "settings": [
                {
                    "type": "header",
                    "content":"Image"
                },
                {
                    "type": "select",
                    "id": "image_background",
                    "label": "Position",
                    "options": [
                        {
                            "value": "top",
                            "label": "Top"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "bottom",
                            "label": "Bottom"
                        }
                    ]
                },
                {
                    "type": "image_picker",
                    "id":"image",
                    "label":"Image",
                    "info": "Match size to other slides"
                },
                {
                    "type": "image_picker",
                    "id":"mobile_image",
                    "label":"Mobile Image",
                    "info": "Match size to other slides"
                },
                {
                    "type": "header",
                    "content":"Text"
                },
                {
                    "type": "text",
                    "id": "heading_text",
                    "label": "Heading"
                },
                {
                    "type": "text",
                    "id": "description_text",
                    "label": "Description"
                },
                {
                    "type": "select",
                    "id": "slideshow_text_color",
                    "label": "Color",
                    "options": [
                        {
                            "value": "white-color",
                            "label": "White"
                        },
                        {
                            "value":"black-color",
                            "label":"Dark"
                        }
                    ]
                },          
                {
                    "type": "header",
                    "content":"Button"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text",
                    "default": "Shop Now"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "slideshow_btn_color",
                    "label": "Color", 
                    "options": [
                    {
                        "value": "btn-link",
                        "label": "Link Text"
                    },
                    {
                        "value": "btn-bright",
                        "label": "Bright accent"
                    },
                    {
                        "value": "btn-text",
                        "label": "Color Text"
                    },
                    {
                        "value": "btn-secondary",
                        "label": "Secondary accent"
                    },
                    {
                        "value": "btn-black",
                        "label": "Black"
                    },
                    {
                        "value": "btn-white",
                        "label": "White"
                    }
                    ],
                    "default": "btn-white"
                },
                {
                    "type": "select",
                    "id": "slideshow_btn_type",
                    "label": "Style",
                    "options": [
                        {
                            "value": "cap-text",
                            "label": "Capitalized Text"
                        },
                        {
                            "value": "s-btn",
                            "label": "Small Button"
                        },
                        {
                            "value": "l-btn",
                            "label": "Large Button"
                        },
                        {
                            "value": "s-o-btn",
                            "label": "Small Outline Button"
                        },
                        {
                            "value": "l-o-btn",
                            "label": "Large Outline Button"
                        }
                        ],
                        "default": "l-btn"
                }
                ]
            }
        ]
    ,"presets": [
        {
            "name":"Slide-Show"
        }
    ]
}
{% endschema %}