<div class="tab-collection-wrapper">
    <h2 class="heading">{{section.settings.tab_collection_heading}}</h2>
    <div class="tabs-collection">
        <div class="tabs-head">
            <ul class="tabs">
                {% for block in section.blocks %}
                    <li class="tab-link">{{collections[block.settings.tab_collection].title}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-collection-slider">
        {% for block in section.blocks %}
            <div class="tab-content">
                <div class="grid-container">
                    {% assign colection = collections[block.settings.tab_collection] %}
                    {% if colection.image %}
                        <div class="product-item col-img-wrapper">
                            <div class="img">
                                {% render 'srcset',src_name:colection.image,src_alt:colection.title%}
                            </div>
                               <div class="prod-desc">
                                <p class="product-count">{{colection.all_products_count}} Products</p>
                                <div class="txt-btn">
                                    <p class="description">{{colection.description}}</p>
                                    <a href="#">Shop {{colection.title}}</a>
                                </div>
                            </div>  
                        </div>
                    {% endif %}
                    {% for product in colection.products %}
                        <div class="product-item">
                            
                                <div class="product-img">
                                    {% render 'srcset',src_name:product.featured_image,src_alt:product.title%}
                                </div>
                                <div class="product-information">
                                    <p class="stars">
                                        <span class="fa fa-star checked"></span> 
                                        <span class="fa fa-star checked"></span> 
                                        <span class="fa fa-star checked"></span> 
                                        <span class="fa fa-star checked"></span> 
                                        <span class="fa fa-star checked"></span> 
                                    </p>
                                    <a href="{{product.url}}">
                                        <h3>{{product.title}}</h3>
                                    </a>
                                    <p>{{product.price | money}} <s>{{product.compare_at_price | money}}</s></p>
                                </div>
                            
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Tab Collection",
    "settings": [
        {
            "type": "text",
            "id": "tab_collection_heading",
            "label": "Heading",
            "default": "Best Sellers"
        }
    ],
    "max_blocks": 3,
    "blocks":[
        {
            "name": "Image Slide",
            "type":"image",
            "settings": [
            {
                "type": "collection",
                "id": "tab_collection",
                "label": "Product Collection",
                "info": "Select collection to use the products"
            }
            ]
        }
    ],
    "presets": [
        {
            "name":"Tab Collections"
        }
    ]

}
{% endschema %}