<div class="hero-video">
    <div class="hero-video-content">
        <h3 class="heading">{{section.settings.hero_heading}}</h3>
        <p class="description">{{section.settings.hero_description}}</p>
        <a href="#" class="{{section.settings.video_btn_type}} {{section.settings.video_btn_color}}">{{section.settings.hero_btn_text}}</a>
    </div>
    <div class="hero-video-bg">
        <video autoplay loop muted>
            <source src="https://cdn.shopify.com/s/files/1/0081/5654/5088/files/production_ID_4820799.mp4?v=1626164092" >
        </video>      
    </div>
</div>
{% schema %}
{
    "name": "Video",
    "settings": [
        {
            "type": "video_url",
            "id": "hero_video_background",
            "accept": [
                "youtube",
                "vimeo"
            ],
            "label": "Video Background"
        },
        {
            "type": "text",
            "id": "hero_heading",
            "label": "Heading",
            "default": "Shop Earring"
        },
        {
            "type": "text",
            "id": "hero_description",
            "label": "Description",
            "default": "Video support for YouTube, Vimeo, or MP4 file links."
        },
        {
            "type": "header",
            "content": "Button"
        },
        
        {
            "type": "text",
            "id": "hero_btn_text",
            "label": "Button",
            "default": "VIEW PRODUCTS"
        },
        {
            "type": "select",
            "id": "video_btn_color",
            "label": "Color", 
            "options": [
            {
                "value": "btn-link",
                "label": "Link Text"
            },
            {
                "value": "btn-bright",
                "label": "Bright accent"
            },
            {
                "value": "btn-text",
                "label": "Color Text"
            },
            {
                "value": "btn-secondary",
                "label": "Secondary accent"
            },
            {
                "value": "btn-black",
                "label": "Black"
            },
            {
                "value": "btn-white",
                "label": "White"
            }
            ],
            "default": "btn-white"
        },
        {
            "type": "select",
            "id": "video_btn_type",
            "label": "Style",
            "options": [
                {
                    "value": "cap-text",
                    "label": "Capitalized Text"
                },
                {
                    "value": "s-btn",
                    "label": "Small Button"
                },
                {
                    "value": "l-btn",
                    "label": "Large Button"
                },
                {
                    "value": "s-o-btn",
                    "label": "Small Outline Button"
                },
                {
                    "value": "l-o-btn",
                    "label": "Large Outline Button"
                }
                ],
                "default": "l-o-btn"
        }
       
    ],
    "presets": [
        {
            "name":"Video"
        }
    ]
}
{% endschema %}