{% section 'announcement' %}
<div class="container">
    <div class="header">
        {% section 'header'%}
        {% section 'nav'%}
    </div>
</div>

{% section 'slide-show'%}
{% section 'brick'%}

<div class="hero-video">
    <div class="hero-video-content">
        <h3 class="heading">Shop Earring</h3>
        <p class="description">Video support for YouTube, Vimeo, or MP4 file links.</p>
        <a href="#">VIEW PRODUCTS</a>
    </div>
    <div class="hero-video-bg">
        <video autoplay loop muted >
            <source src="https://cdn.shopify.com/s/files/1/0081/5654/5088/files/production_ID_4820799.mp4?v=1626164092" type="video/mp4">
        </video>
    </div>
</div>
