<!-- head -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="{{ settings.color_button }}">
<link rel="canonical" href="{{ canonical_url }}">

<title>
    Broadcast Theme - Clean Preset
</title>

<!--Main CSS -->
{%- render 'main-css' -%}
<link rel="stylesheet" type="text/css" href="{{'theme.css' | asset_url}}">
