{% if width == blank %}
  {% assign width = 18 %}
{% endif %}   
{% if height == blank %}
  {% assign height = 18 %}
{% endif %}

{% case icon %}
  {% when 'account' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="{{width}}" height="{{height}}" viewBox="0 0 24 24"><path d="M19 7.001c0 3.865-3.134 7-7 7s-7-3.135-7-7c0-3.867 3.134-7.001 7-7.001s7 3.134 7 7.001zm-1.598 7.18c-1.506 1.137-3.374 1.82-5.402 1.82-2.03 0-3.899-.685-5.407-1.822-4.072 1.793-6.593 7.376-6.593 9.821h24c0-2.423-2.6-8.006-6.598-9.819z"/></svg>
  {% when 'cart' %}
  <svg aria-hidden="true" focusable="false" role="presentation" width="{{width}}" height="{{height}}" viewBox="0 0 8 8"><path d="M.34 1A.506.506 0 00.5 2H2l.09.25.41 1.25.41 1.25c.04.13.21.25.34.25h3.5c.14 0 .3-.12.34-.25l.81-2.5c.04-.13-.02-.25-.16-.25H3.3l-.38-.72A.5.5 0 002.48 1h-2a.5.5 0 00-.09 0 .5.5 0 00-.06 0zM3.5 6c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm3 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5z"></path></svg> 
   {% when 'search' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="{{width}}" height="{{height}}" viewBox="0 0 24 24"><path d="M21.172 24l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"/></svg>
  {% when 'close' %}
    <svg xmlns="http://www.w3.org/2000/svg" height="{{height}}" viewbox="0 0 413.348 413.348" width="{{width}}"><path d="M413.348 24.354L388.994 0l-182.32 182.32L24.354 0 0 24.354l182.32 182.32L0 388.994l24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"/></svg>
  {% when 'mobile-menu' %}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="{{height}}" viewbox="0 -53 384 384" width="{{width}}"><use xlink:href="#B"/><path d="M368 32H16A16.01 16.01 0 0 1 0 16 16.01 16.01 0 0 1 16 0h352a16.01 16.01 0 0 1 16 16 16.01 16.01 0 0 1-16 16zm0 0"/><use xlink:href="#B" y="122.664"/><defs><path d="M368 154.668H16a16.01 16.01 0 0 1-16-16 16.01 16.01 0 0 1 16-16h352a16.01 16.01 0 0 1 16 16 16.01 16.01 0 0 1-16 16zm0 0" id="B"/></defs>
    </svg>
  {% when 'arrow-down' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 490.656 490.656" width="{{width}}" height="{{height}}"><path d="M487.536 120.445c-4.16-4.16-10.923-4.16-15.083 0L245.34 347.58 18.203 120.467c-4.16-4.16-10.923-4.16-15.083 0s-4.16 10.923 0 15.083l234.667 234.667c2.09 2.07 4.82 3.115 7.552 3.115a10.56 10.56 0 0 0 7.531-3.136L487.537 135.53a10.68 10.68 0 0 0-.001-15.084z"/></svg>
  {% when 'arrow-up' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 511.998 511.998" width="{{width}}" height="{{height}}"><path d="M508.707 365.616L263.374 130.95c-4.125-3.938-10.625-3.938-14.75 0L3.3 365.616c-4.25 4.073-4.406 10.823-.333 15.083 4.073 4.27 10.823 4.417 15.083.333l237.958-227.615 237.958 227.615a10.63 10.63 0 0 0 15.083-.334c4.074-4.26 3.918-11.01-.332-15.082z"/></svg>
  {% when 'arrow-right' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 511.995 511.995" width="{{width}}" height="{{height}}"><path d="M381.04 248.62L146.373 3.287C142.3-.942 135.54-1.13 131.3 2.954c-4.25 4.073-4.396 10.823-.333 15.083L358.56 255.995l-227.604 237.96c-4.063 4.26-3.917 11 .333 15.083a10.63 10.63 0 0 0 7.375 2.958 10.65 10.65 0 0 0 7.708-3.292L381.04 263.37c3.938-4.125 3.938-10.625 0-14.75z"/></svg>
  {% when 'arrow-left' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 511.991 511.991" width="{{width}}" height="{{height}}"><path d="M153.433 255.99L381.037 18.033c4.063-4.26 3.917-11-.333-15.083-4.23-4.073-10.98-3.896-15.083.333L130.954 248.616a10.69 10.69 0 0 0 0 14.75L365.62 508.7a10.65 10.65 0 0 0 7.708 3.292c2.646 0 5.313-.98 7.375-2.958 4.25-4.073 4.396-10.823.333-15.083L153.433 255.99z"/></svg>
  {% when 'facebook' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{width}}" height="{{height}}" viewBox="0 0 24 24"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/></svg>
  {% when 'twitter' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="{{width}}" height="{{height}}" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>
  {% when 'instagram' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="{{width}}" height="{{height}}" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>
  {% when 'pinterest' %}
  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 496 496" width="{{width}}" height="{{height}}"><path d="M365.2 0H130.752C57.44 0 0 57.456 0 130.784v234.448C0 438.56 57.44 496 130.752 496H365.2c73.344 0 130.8-57.44 130.8-130.784V130.784C496 57.456 438.544 0 365.2 0zM464 365.216c0 56.304-42.464 98.768-98.8 98.768H130.752C74.448 463.984 32 421.536 32 365.216V130.784C32 74.464 74.448 32 130.752 32H365.2c56.336 0 98.8 42.464 98.8 98.784v234.432zM255.072 101.472c-82.64 0-124.304 57.344-124.304 105.152 0 28.96 11.328 54.704 35.6 64.32 1.024.4 2.032.608 2.976.608 2.72 0 4.912-1.664 5.744-4.832l3.568-13.52c1.152-4.224.72-5.68-2.496-9.36-7.008-8-11.504-18.352-11.504-32.992 0-42.56 32.928-80.624 85.664-80.624 46.704 0 72.368 27.616 72.368 64.496 0 48.528-22.192 89.504-55.136 89.504-18.224 0-31.824-14.576-27.456-32.432 5.232-21.328 15.376-44.336 15.376-59.712 0-13.792-7.664-25.264-23.472-25.264-18.624 0-33.568 18.608-33.568 43.568 0 15.872 5.552 26.64 5.552 26.64l-22.352 91.728c-6.656 27.216-1.008 60.592-.528 63.952.16 1.2 1.184 1.856 2.24 1.856.704 0 1.424-.288 1.888-.896 1.728-2.144 23.872-28.624 31.408-55.088 2.16-7.488 12.24-46.256 12.24-46.256 6.048 11.152 23.712 20.96 42.512 20.96 55.904 0 93.84-49.296 93.84-115.328-.016-49.968-43.712-96.48-110.16-96.48z"/></svg>
  {% when 'tik-tok' %}
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="{{width}}" height="{{height}}" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M12.525.02c1.31-.02 2.61-.01 3.91-.02c.08 1.53.63 3.09 1.75 4.17c1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97c-.57-.26-1.1-.59-1.62-.93c-.01 2.92.01 5.84-.02 8.75c-.08 1.4-.54 2.79-1.35 3.94c-1.31 1.92-3.58 3.17-5.91 3.21c-1.43.08-2.86-.31-4.08-1.03c-2.02-1.19-3.44-3.37-3.65-5.71c-.02-.5-.03-1-.01-1.49c.18-1.9 1.12-3.72 2.58-4.96c1.66-1.44 3.98-2.13 6.15-1.72c.02 1.48-.04 2.96-.04 4.44c-.99-.32-2.15-.23-3.02.37c-.63.41-1.11 1.04-1.36 1.75c-.21.51-.15 1.07-.14 1.61c.24 1.64 1.82 3.02 3.5 2.87c1.12-.01 2.19-.66 2.77-1.61c.19-.33.4-.67.41-1.06c.1-1.79.06-3.57.07-5.36c.01-4.03-.01-8.05.02-12.07z" fill="#black  "/></svg>
  {% when 'youtube' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 -62 512.002 512" width="{{width}}" height="{{height}}"><path d="M334.8 170.992l-113.113-61.9c-6.504-3.56-14.2-3.426-20.566.352a20.59 20.59 0 0 0-10.184 17.875v122.72c0 7.38 3.78 14.047 10.117 17.832 3.3 1.977 6.977 2.97 10.652 2.97a20.74 20.74 0 0 0 9.848-2.504L334.68 207.52a20.77 20.77 0 0 0 10.938-18.223 20.76 20.76 0 0 0-10.81-18.305zM220.95 234.6V142.9l84.54 46.258zM508.234 91.527l-.023-.234c-.434-4.12-4.75-40.777-22.57-59.422C465.043 9.94 441.7 7.277 430.46 6l-2.543-.305-.895-.094C359.336.68 257.113.008 256.1.004L256 0l-.1.004C254.887.008 152.664.68 84.367 5.602l-.902.094-2.398.3c-11.102 1.28-34.203 3.95-54.86 26.672C9.234 51.102 4.328 86.973 3.824 91.004l-.06.523C3.613 93.242 0 134.066 0 175.05v38.313c0 40.984 3.613 81.8 3.766 83.527l.027.258c.434 4.055 4.746 40.04 22.484 58.7 19.367 21.195 43.855 24 57.027 25.508 2.082.238 3.875.44 5.098.656l1.184.164c39.082 3.72 161.617 5.55 166.812 5.625l.156.004.156-.004c1.023-.004 103.242-.676 170.93-5.598l.895-.094a105.46 105.46 0 0 1 2.87-.324c11.04-1.172 34.016-3.605 54.387-26.02 16.973-18.45 21.883-54.32 22.383-58.348l.06-.523c.152-1.72 3.77-42.54 3.77-83.523v-38.31c-.004-40.984-3.617-81.805-3.77-83.523zm-26.238 121.836c0 37.934-3.312 77-3.625 80.586-1.273 9.88-6.45 32.574-14.72 41.563-12.75 14.027-25.848 15.418-35.4 16.43l-3.195.36c-65.47 4.734-163.832 5.46-168.363 5.488-5.082-.074-125.824-1.922-163.715-5.44-1.94-.316-4.04-.56-6.25-.8-11.215-1.285-26.566-3.043-38.37-16.027l-.277-.297c-8.125-8.465-13.152-29.687-14.43-41.148-.238-2.7-3.637-42.238-3.637-80.703V175.05c0-37.9 3.305-76.914 3.625-80.574 1.52-11.637 6.793-32.957 14.72-41.574C61.5 38.45 75.355 36.847 84.52 35.79l2.445-.293c66.41-4.758 165.48-5.466 169.036-5.492 3.555.023 102.6.734 168.422 5.492l2.64.313c9.426 1.074 23.672 2.7 36.746 16.645l.12.13c8.125 8.465 13.152 30.06 14.43 41.75.227 2.56 3.637 42.172 3.637 80.72zm0 0"/></svg>
  {% when 'mail' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="{{width}}" height="{{height}}"><path d="M485.743 85.333H26.257C11.815 85.333 0 97.148 0 111.59V400.4c0 14.44 11.815 26.257 26.257 26.257h459.487c14.44 0 26.257-11.815 26.257-26.257V111.59c-.001-14.44-11.816-26.256-26.258-26.256zm-9.853 19.69L271.104 258.626c-3.682 2.802-9.334 4.555-15.105 4.53-5.77.026-11.42-1.727-15.104-4.53L36.11 105.024H475.9zM366.5 268.76l111.6 137.847c.112.138.25.243.368.368H33.542c.118-.13.256-.23.368-.368L145.5 268.76a9.85 9.85 0 0 0-1.464-13.851c-4.227-3.42-10.424-2.77-13.844 1.457l-110.5 136.5V117.332l209.394 157.046c7.87 5.862 17.447 8.442 26.912 8.468 9.452-.02 19.036-2.6 26.912-8.468l209.394-157.046v275.534l-110.497-136.5c-3.42-4.227-9.623-4.877-13.844-1.457-4.234 3.42-4.884 9.624-1.463 13.85z"/></svg>
  {% else %}
  {% when 'play-button' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="{{width}}" height="{{height}}">
      <path d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0zm-2 15.5V9l4.5 3.25L10 15.5z" fill="#fff"></path>
    </svg>
  {% when 'caret-down' %}
    <svg fill="none" width="{{width}}" height="{{height}}" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="rgba(33,43,54,0.999)" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <polyline points="6 9 12 15 18 9"></polyline>
    </svg>
  {% else %}

{% endcase %}
