<style>

:root{
    
    --color-video-bg: #f2f2f2;
    
    --color-black:#000;
    --color-white:#fff;
    --color-warning:#ff0000;

    --color-bg: {{settings.color_bg}};
    --color-bg-secondary: {{settings.color_bg_secondary}};
    --color-bg-rgb: 255, 255, 255;
    
    --color-text-dark: #000000;
    --color-text: {{settings.color_text}};
    --color-text-light: #646464;
    
    
    
    /* === Opacity shades of grey ===*/
    --color-a5:  rgba(33, 33, 33, 0.05);
    --color-a10: rgba(33, 33, 33, 0.1);
    --color-a15: rgba(33, 33, 33, 0.15);
    --color-a20: rgba(33, 33, 33, 0.2);
    --color-a25: rgba(33, 33, 33, 0.25);
    --color-a30: rgba(33, 33, 33, 0.3);
    --color-a35: rgba(33, 33, 33, 0.35);
    --color-a40: rgba(33, 33, 33, 0.4);
    --color-a45: rgba(33, 33, 33, 0.45);
    --color-a50: rgba(33, 33, 33, 0.5);
    --color-a55: rgba(33, 33, 33, 0.55);
    --color-a60: rgba(33, 33, 33, 0.6);
    --color-a65: rgba(33, 33, 33, 0.65);
    --color-a70: rgba(33, 33, 33, 0.7);
    --color-a75: rgba(33, 33, 33, 0.75);
    --color-a80: rgba(33, 33, 33, 0.8);
    --color-a85: rgba(33, 33, 33, 0.85);
    --color-a90: rgba(33, 33, 33, 0.9);
    --color-a95: rgba(33, 33, 33, 0.95);
    
    --color-border: rgb(240, 240, 240);
    --color-border-light: #f6f6f6;
    --color-border-hairline: #f7f7f7;
    --color-border-dark: #bdbdbd;/* === Bright color ===*/
    --color-primary: {{settings.color_primary}};
    --color-primary-hover: #806430;
    --color-primary-fade: rgba(171, 140, 82, 0.05);
    --color-primary-fade-hover: rgba(171, 140, 82, 0.1);--color-primary-opposite: #ffffff;
    
    
    /* === Secondary Color ===*/
    --color-secondary: {{settings.color_secondary}};
    --color-secondary-hover: #506a89;
    --color-secondary-fade: rgba(129, 145, 164, 0.05);
    --color-secondary-fade-hover: rgba(129, 145, 164, 0.1);--color-secondary-opposite: #ffffff;
    
    
    /* === link Color ===*/
    --color-link: {{settings.color_link}};
    --color-link-hover: {{settings.color_link_hover}};
    --color-link-fade: rgba(33, 33, 33, 0.05);
    --color-link-fade-hover: rgba(33, 33, 33, 0.1);
    --color-link-opposite: #ffffff;
    
    
    /* === Product grid sale tags ===*/
    --color-sale-bg: #f9dee5;
    --color-sale-text: #af7b88;--color-sale-text-secondary: #f9dee5;
    
    /* === Product grid badges ===*/
    --color-badge-bg: #ffffff;
    --color-badge-text: #212121;
    
    /* === Helper colors for form error states ===*/
    --color-error: var(--color-primary);
    --color-error-bg: var(--color-primary-fade);
    
    
    
    --radius: 0px;
    --radius-sm: 0px;
     
    
    --color-announcement-bg: #ffffff;
    --color-announcement-text: #ab8c52;
    --color-announcement-border: #e6ddcb;
    
    --color-header-bg:{{settings.color_header_bg}};
    --color-header-link: {{settings.color_header_link}};
    --color-header-link-hover: {{settings.color_header_link_hover}};
    
    --color-menu-bg: {{settings.color_menu_bg}};
    --color-menu-border: {{settings.color_menu_border}};
    --color-menu-link: {{settings.color_menu_link}};
    --color-menu-link-hover: {{settings.color_menu_link_hover}};
    --color-submenu-bg: {{settings.color_submenu_bg}};
    --color-submenu-link: {{settings.color_submenu_link}};
    --color-submenu-link-hover: {{settings.color_submenu_link_hover}};
    --color-menu-transparent: {{settings.color_menu_transparent}};
    
    --color-footer-bg: {{settings.color_footer_bg}};
    --color-footer-text: {{settings.color_footer_border}};
    --color-footer-link: {{settings.color_footer_text}};
    --color-footer-link-hover: {{settings.color_footer_link}};
    --color-footer-border: {{settings.color_footer_link_hover}};
    
    /* === Custom Cursor ===*/
    
    --icon-zoom-in: url( "//cdn.shopify.com/s/files/1/0081/5654/5088/t/27/assets/icon-zoom-in.svg?v=12699665152605429330" );
    --icon-zoom-out: url( "//cdn.shopify.com/s/files/1/0081/5654/5088/t/27/assets/icon-zoom-out.svg?v=12867570904198742364" );
    
    /* === Typography ===*/
    {% assign heading_stack = settings.font_stack_heading %}
    {% assign body_stack = settings.font_stack_body %}
    {% assign nav_stack = settings.font_stack_nav %}
    
    --product-grid-aspect-ratio: 90.0%;
    --product-grid-size-piece: 9.0;
    
    
    --font-weight-body: 400;
    --font-weight-body-bold: 700;
    
    --font-stack-body: {{ body_stack.family }}, {{ body_stack.fallback_families }};
    --font-size-body: {{settings.font_size_body }};
    --font-style-body: normal;
    --font-adjust-body: 1.0;
    
    --font-weight-heading: 700;
    --font-weight-heading-bold: 700;
    

    --font-stack-heading:  {{ heading_stack.family }}, {{ heading_stack.fallback_families }};
    --font-size-heading: {{settings.font_size_heading}};
    --font-style-heading: normal;
    --font-adjust-heading: 1.0;
    
    --font-stack-nav:{{ nav_stack.family }}, {{ nav_stack.fallback_families }};
    --font-size-nav: {{settings.font_size_nav}};
    --font-style-nav: normal;
    --font-adjust-nav: 1.0;
    
    --font-weight-nav: 400;
    --font-weight-nav-bold: 700;
    
    --font-size-base: 1.0rem;
    --font-size-base-percent: 1.0;
    
    --ico-select: url("//cdn.shopify.com/s/files/1/0081/5654/5088/t/27/assets/ico-select.svg?v=11563081326252206929");
    
    
    /* === Parallax ===*/
    --parallax-strength-min: 120.0%;
    --parallax-strength-max: 130.0%;
    
    
}    

</style>