
<style>
  {% if section.settings.popup_color %}
    .modal-content {
        background-color: {{section.settings.popup_color}};
      }      
    {% endif %}
  {% if section.settings.popup_image %}
    .modal-content {
      width: 60%;
    }      
    {% else %}
    
    .modal-content {
      max-width: 600px;
    }      
    {% endif %}
</style>
  
<div class="newsletter-popup" data-time={{section.settings.newsletter_delay}}>
  <div class="modal-content {{section.settings.popup_text_color}}">
    {% if section.settings.popup_image %}
        
          <div class="modal-img">
            {%- render 'srcset' , src_name:section.settings.popup_image,src_alt:section.settings.popup_image.alt-%}
          </div>
          
        {% endif %}
        {% form 'customer' ,class:'newsletterform'%}
        
          {% if form.posted_successfully? %}

            <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>

           {% else %}

              <p class="subheading">{{section.settings.popup_subheading_txt}}</p>
              <h3 class="heading">{{section.settings.popup_heading_txt}}</h3>
              <p class="description">{{section.settings.popup_description_txt}}</p>
              {% if form.errors%}
                <small class="newsletter-error">{{ form.errors | default_errors }}</small>
              {% endif %}
              <small class="newsletter-error-sub"></small>  
              <input name="contact[tags]" type="hidden" value="newsletter">
              
                {% if section.settings.popup_firstname %}
                  <input type="text" class="name" placeholder="Firstname" required>
                {% endif %}

              <div class="email-btn">
                <input type="email" class="email email-data" required name="contact[email]"  placeholder="email@newsletter.com" >    
                <button type="submit"  class="btn {{section.settings.popup_btn_clr}} ">{{section.settings.popup_button_txt}}</button>
              </div>

        {% endif %}

        <a class="close-btn">&times;</a>

        {% endform %}

      </div>  

</div>

  