<ul class='social_links'>
    
    {% if settings.instagram_link !=blank %}
    <li>
      <a href="{{settings.instagram_link}}" itemprop="sameAs" title="Instagram" class="instagram" target="_blank">
        {%- render 'icons',icon:'instagram' -%}
      </a>
    </li>
    {% endif %}
    {% if settings.facebook_link != blank %}
    <li>
      <a href="{{settings.facebook_link}}" itemprop="sameAs" title="Facebook" class="facebook" target="_blank">
        {%- render 'icons',icon:'facebook' -%}
      </a>
    </li>
    {% endif %}
    {% if settings.twitter_link != blank %}
    <li>
      <a href="{{settings.twitter_link}}" title="Twitter" itemprop="sameAs" class="twitter" target="_blank">
        {%- render 'icons',icon:'twitter' -%}
      </a>
    </li>
    {% endif %}
    {% if settings.youtube_link != blank %}
    <li>
      <a href="{{settings.youtube_link}}" itemprop="sameAs" title="Youtube" class='youtube' target="_blank">
        {%- render 'icons',icon:'youtube' -%}
      </a>
    </li>
    {% endif %}
    {% if settings.pinterest_link !=blank %}
    <li>
      <a href="{{settings.pinterest_link}}" itemprop="sameAs" title="Pinterest" class='pinterest' target="_blank">
        {%- render 'icons',icon:'pinterest' -%}
      </a>
    </li>
    {% endif %}
    {% if settings.tiktok_link !=blank %}
    <li>
      <a href="{{settings.tiktok_link}}" itemprop="sameAs" title="tiktok" class='tiktok' target="_blank">
        {%- render 'icons',icon:'tik-tok' -%}
      </a>
    </li>
    {% endif %}
    {% if settings.tumbler_link !=blank %}
    <li>
      <a href="{{settings.tumbler_link}}" itemprop="sameAs" title="Tumbler" class='tumbler' target="_blank">
        {%- render 'icons',icon:'tumbler' -%}
      </a>
    </li>
    {% endif %}
    {% if settings.vimeo_link !=blank %}
    <li>
      <a href="{{settings.vimeo_link}}" itemprop="sameAs" title="Vimeo" class='vimeo' target="_blank">
        {%- render 'icons',icon:'vimeo' -%}
      </a>
    </li>
    {% endif %}
    {% if settings.linkedin_link !=blank %}
    <li>
      <a href="{{settings.linkedin_link}}" itemprop="sameAs" title="Linkedin" class='linkedin' target="_blank">
        {%- render 'icons',icon:'linkedin' -%}
      </a>
    </li>
    {% endif %}
  </ul>
  